section.section-2.section-content-main--table
    .section-content--main__wrap.box-bg2
        .section-content--main
            .section-top-side
                .section-block-title-question
                    .section-block--title Операции
                    .section-block--question
                        +icon('question')
                        .section-block--question__content
                            .section-block--question__title Статус обращения:
                            ul.section-block--question__list
                                li.section-block--question__li
                                    .section-status-block.status-red
                                    p последний раз в обращение писал клиент техподдержки (вы ответственный)
                                li.section-block--question__li
                                    .section-status-block.status-yellow
                                    p последний раз в обращение писал клиент техподдержки (вы не ответственный)
                                li.section-block--question__li
                                    .section-status-block.status-green
                                    p последний раз в обращение писали вы
                                li.section-block--question__li
                                    .section-status-block.status-green s
                                    p последний раз в обращение писал сотрудник техподдержки
                                li.section-block--question__li
                                    .section-status-block.status-gray
                                    p обращение закрыто


                .filter-side--right
                    .section-top-added.gogocar-arrow-button
                        +icon('plus')
            .section-bottom-side--scroll
                table.section-table
                    thead
                        tr
                            th
                                .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            th.section-thead--icon
                                +icon('settings')
                            th ID
                            th Индикатор
                            th Заголовок
                            th Автор
                            th Срочность ответа
                            th Сообщение
                            th Уровень
                            th Ответственный
                            th Крайний срок
                    tbody.section-data-container
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить

                            td 1
                            td
                                .section-status-block.status-yellow
                            td Не работает форма
                            td
                                .section-author--info
                                    .section-author--info_1 17.05.2020 21:59:45
                                    .section-author--info_2
                                        span [2]
                                        .section-author--info_2__text (dev) Разработчик Приложения
                            td 17.05.2020 21:59:45
                            td 1
                            td По умолчанию
                            td
                            td 17.05.2020

                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                            td 2
                            td
                                .section-status-block.status-green
                            td Не работает форма
                            td
                                .section-author--info
                                    .section-author--info_1 17.05.2020 21:59:45
                                    .section-author--info_2
                                        span [2]
                                        .section-author--info_2__text (dev) Разработчик Приложения
                            td 17.05.2020 21:59:45
                            td 2
                            td По умолчанию
                            td
                            td 17.05.2020
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить

                            td 3
                            td
                                .section-status-block.status-gray
                            td Не работает форма
                            td
                                .section-author--info
                                    .section-author--info_1 17.05.2020 21:59:45
                                    .section-author--info_2
                                        span [2]
                                        .section-author--info_2__text (dev) Разработчик Приложения
                            td 17.05.2020 21:59:45
                            td 1
                            td По умолчанию
                            td
                            td 17.05.2020

                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                            td 4
                            td
                                .section-status-block.status-yellow
                            td Не работает форма
                            td
                                .section-author--info
                                    .section-author--info_1 17.05.2020 21:59:45
                                    .section-author--info_2
                                        span [2]
                                        .section-author--info_2__text (dev) Разработчик Приложения
                            td 17.05.2020 21:59:45
                            td 8
                            td По умолчанию
                            td
                            td 17.05.2020
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить

                            td 5
                            td
                                .section-status-block.status-red
                            td Не работает форма
                            td
                                .section-author--info
                                    .section-author--info_1 17.05.2020 21:59:45
                                    .section-author--info_2
                                        span [2]
                                        .section-author--info_2__text (dev) Разработчик Приложения
                            td 17.05.2020 21:59:45
                            td 5
                            td По умолчанию
                            td
                            td 17.05.2020

                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                            td 6
                            td
                                .section-status-block.status-green
                            td Не работает форма
                            td
                                .section-author--info
                                    .section-author--info_1 17.05.2020 21:59:45
                                    .section-author--info_2
                                        span [2]
                                        .section-author--info_2__text (dev) Разработчик Приложения
                            td 17.05.2020 21:59:45
                            td 2
                            td По умолчанию
                            td
                            td 17.05.2020
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить

                            td 7
                            td
                                .section-status-block.status-gray
                            td Не работает форма
                            td
                                .section-author--info
                                    .section-author--info_1 17.05.2020 21:59:45
                                    .section-author--info_2
                                        span [2]
                                        .section-author--info_2__text (dev) Разработчик Приложения
                            td 17.05.2020 21:59:45
                            td 6
                            td По умолчанию
                            td
                            td 17.05.2020

                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                            td 8
                            td
                                .section-status-block.status-red
                            td Не работает форма
                            td
                                .section-author--info
                                    .section-author--info_1 17.05.2020 21:59:45
                                    .section-author--info_2
                                        span [2]
                                        .section-author--info_2__text (dev) Разработчик Приложения
                            td 17.05.2020 21:59:45
                            td 7
                            td По умолчанию
                            td
                            td 17.05.2020

            .section-bottom-pagination--wrap
                .section-bottom--delete.gogocar-arrow-button
                    +icon('delete')
                .section-bottom-pagination

// .section-content-main--table
section.section3.section-content-main-mobile--table
    .section-content--main-mobile__wrap
        .section-content--main.box-bg2.pb-20px
            .section-top-side.box-bg-mobile2
                .section-block-title-question
                    .section-block--title Операции
                    .section-block--question
                        +icon('question')
                        .section-block--question__content
                            .section-block--question__title Статус обращения:
                            ul.section-block--question__list
                                li.section-block--question__li
                                    .section-status-block.status-red
                                    p последний раз в обращение писал клиент техподдержки (вы ответственный)
                                li.section-block--question__li
                                    .section-status-block.status-yellow
                                    p последний раз в обращение писал клиент техподдержки (вы не ответственный)
                                li.section-block--question__li
                                    .section-status-block.status-green
                                    p последний раз в обращение писали вы
                                li.section-block--question__li
                                    .section-status-block.status-green s
                                    p последний раз в обращение писал сотрудник техподдержки
                                li.section-block--question__li
                                    .section-status-block.status-gray
                                    p обращение закрыто
                .filter-side--right
                    .section-top-added.gogocar-arrow-button
                        +icon('plus')
            .section-bottom-side--mobile__list
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .d-flex.align-items-center
                            .section-status-block.status-yellow.mr-7
                            .section-bottom-side--mobile__item--name Разработчик Приложения (Не...
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left ID:
                            .section-mobile-table--item__right 1
                        li.section-mobile-table--item.align-items-center
                            .section-mobile-table--item__left Индикатор:
                            .section-mobile-table--item__right.section-status-block.status-yellow
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Заголовок:
                            .section-mobile-table--item__right Не работает форма
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Автор:
                                span.section-author--info_1.ml-1 17.05.2020 21:59:45
                                    span.ml-1 [2]
                                    .section-author--info_2__text (dev) Разработчик Приложения
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Срочность ответа:
                            .section-mobile-table--item__right 17.05.2020 21:59:45
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Сообщение:
                            .section-mobile-table--item__right 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Уровень:
                            .section-mobile-table--item__right По умолчанию
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Крайний срок:
                            .section-mobile-table--item__right 17.05.2020



                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .d-flex.align-items-center
                            .section-status-block.status-green.mr-7
                            .section-bottom-side--mobile__item--name Дмитрий Данилов (Не работ...
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left ID:
                            .section-mobile-table--item__right 1
                        li.section-mobile-table--item.align-items-center
                            .section-mobile-table--item__left Индикатор:
                            .section-mobile-table--item__right.section-status-block.status-green
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Заголовок:
                            .section-mobile-table--item__right Не работает форма
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Автор:
                                span.section-author--info_1.ml-1 17.05.2020 21:59:45
                                    span.ml-1 [2]
                                    .section-author--info_2__text (dev) Разработчик Приложения
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Срочность ответа:
                            .section-mobile-table--item__right 17.05.2020 21:59:45
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Сообщение:
                            .section-mobile-table--item__right 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Уровень:
                            .section-mobile-table--item__right По умолчанию
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Крайний срок:
                            .section-mobile-table--item__right 17.05.2020
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .d-flex.align-items-center
                            .section-status-block.status-red.mr-7
                            .section-bottom-side--mobile__item--name Виталий Яковлев (Не работа...
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left ID:
                            .section-mobile-table--item__right 1
                        li.section-mobile-table--item.align-items-center
                            .section-mobile-table--item__left Индикатор:
                            .section-mobile-table--item__right.section-status-block.status-red
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Заголовок:
                            .section-mobile-table--item__right Не работает форма
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Автор:
                                span.section-author--info_1.ml-1 17.05.2020 21:59:45
                                    span.ml-1 [2]
                                    .section-author--info_2__text (dev) Разработчик Приложения
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Срочность ответа:
                            .section-mobile-table--item__right 17.05.2020 21:59:45
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Сообщение:
                            .section-mobile-table--item__right 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Уровень:
                            .section-mobile-table--item__right По умолчанию
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Крайний срок:
                            .section-mobile-table--item__right 17.05.2020
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .d-flex.align-items-center
                            .section-status-block.status-gray.mr-7
                            .section-bottom-side--mobile__item--name Анна Мамонтова (Не работае...
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left ID:
                            .section-mobile-table--item__right 1
                        li.section-mobile-table--item.align-items-center
                            .section-mobile-table--item__left Индикатор:
                            .section-mobile-table--item__right.section-status-block.status-gray
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Заголовок:
                            .section-mobile-table--item__right Не работает форма
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Автор:
                                span.section-author--info_1.ml-1 17.05.2020 21:59:45
                                    span.ml-1 [2]
                                    .section-author--info_2__text (dev) Разработчик Приложения
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Срочность ответа:
                            .section-mobile-table--item__right 17.05.2020 21:59:45
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Сообщение:
                            .section-mobile-table--item__right 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Уровень:
                            .section-mobile-table--item__right По умолчанию
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Крайний срок:
                            .section-mobile-table--item__right 17.05.2020
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .d-flex.align-items-center
                            .section-status-block.status-yellow.mr-7
                            .section-bottom-side--mobile__item--name Алексей Дорофеев (Не работ...
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('chat')
                                        span Сообщения
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left ID:
                            .section-mobile-table--item__right 1
                        li.section-mobile-table--item.align-items-center
                            .section-mobile-table--item__left Индикатор:
                            .section-mobile-table--item__right.section-status-block.status-yellow
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Заголовок:
                            .section-mobile-table--item__right Не работает форма
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Автор:
                                span.section-author--info_1.ml-1 17.05.2020 21:59:45
                                    span.ml-1 [2]
                                    .section-author--info_2__text (dev) Разработчик Приложения
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Срочность ответа:
                            .section-mobile-table--item__right 17.05.2020 21:59:45
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Сообщение:
                            .section-mobile-table--item__right 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Уровень:
                            .section-mobile-table--item__right По умолчанию
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Крайний срок:
                            .section-mobile-table--item__right 17.05.2020



            .section-bottom-pagination--wrap
                //.section-bottom--delete.gogocar-arrow-button
                //    +icon('delete')
                .section-bottom-pagination