section.section-2.section-content-main--table
    .section-content--main__wrap.box-bg2
        .section-content--main
            .section-top-side
                .section-block-title-question
                    .section-block--title Статьи в блог
                .section-block-added-csv
                    .section-csv--wrap
                        .section-csv-green Загрузить из CSV
                        .section-csv-yellow Выгрузить в CSV
                    .filter-side--right
                        .section-top-added.gogocar-arrow-button
                            +icon('plus')
            .section-bottom-side--scroll
                table.section-table
                    thead
                        tr
                            th
                                .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            th.section-thead--icon
                                +icon('settings')
                            th Картинка
                            th Заголовок
                            th Автор
                            th Дата публикации
                            th Краткое описание:
                    tbody.section-data-container
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td
                                .table-td--img(style="background-image:url('./static/img/general/ava.png')")
                            td 25 миллионов пользователей в России!
                            td Иннокентий Власов
                            td 10:14 | 10.08.2020
                            td Id blandit risus nibh non ut eu vel. Fusce varius ornare fusce turpis. Proin in potenti est nisi. Arcu.

                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td
                                .table-td--img(style="background-image:url('./static/img/general/ava.png')")
                            td 25 миллионов пользователей в России!
                            td Иннокентий Власов
                            td 10:14 | 10.08.2020
                            td Id blandit risus nibh non ut eu vel. Fusce varius ornare fusce turpis. Proin in potenti est nisi. Arcu.

            .section-bottom-pagination--wrap
                .section-bottom--delete.gogocar-arrow-button
                    +icon('delete')
                .section-bottom-pagination

// .section-content-main--table
section.section3.section-content-main-mobile--table
    .section-content--main-mobile__wrap
        .section-content--main.box-bg2.pb-20px
            .section-top-side.box-bg-mobile2
                .section-block--title Статьи в блог
                .section-block-added-csv
                    .section-upper-modal
                        .section-csv-green Загрузить из CSV
                        .section-csv-yellow Выгрузить в CSV
                    .section-csv--wrap
                        .section-csv-green Загрузить из CSV
                        .section-csv-yellow Выгрузить в CSV
                    .filter-side--right
                        .section-dotted-mobile.gogocar-arrow-button
                            +icon('dots')
                        .section-top-added.gogocar-arrow-button
                            +icon('plus')
            .section-bottom-side--mobile__list
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name 25 миллионов пользователей в Ро...

                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Картинка:
                            .section-mobile-table--item__right
                                .table-td--img(style="background-image:url('./static/img/general/ava.png')")
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Заголовок:
                            .section-mobile-table--item__right 25 миллионов пользователей в России!
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Дата публикации:
                            .section-mobile-table--item__right 10:14 | 10.08.2020
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Краткое описание:
                            .section-mobile-table--item__right Id blandit risus nibh non ut eu vel. Fusce varius ornare fusce turpis. Proin in potenti est nisi. Arcu.
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Автор:
                            .section-mobile-table--item__right Иннокентий Власов



                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name 25 миллионов пользователей в Ро...
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Заголовок:
                                span.mr-1 25 миллионов пользователей в России!
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name 25 миллионов пользователей в Ро...
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Заголовок:
                                span.mr-1 25 миллионов пользователей в России!





            .section-bottom-pagination--wrap.mt-20px
                .section-bottom--delete.gogocar-arrow-button
                    +icon('delete')
                .section-bottom-pagination