.datepicker-container
  width: 280px;
  padding: 10px;
  border: 0;
  border-radius: 15px;
  background-color: #363d4a;
  box-shadow: 0 0 20px rgba(41,47,57,.6);
.gogocar-ul-navbar
  width: 107%!important;
  margin-left: -10px!important;
  padding: 0 10px 10px!important;
  border-bottom: 1px solid rgba(153,163,181,.2);
  justify-content: space-between;
.gogocar-calendar-next, .gogocar-calendar-prev, .gogocar-ul-navbar
  display: flex;
  align-items: center;
.gogocar-calendar-prev.disabled
  background-color: transparent!important;
  box-shadow: none;

  &:hover
    background-color  transparent !important
    box-shadow none !important
.gogocar-calendar-next, .gogocar-calendar-prev
  border-radius: 10px;
  justify-content: center;
.gogocar-calendar-current
  font-family: 'Oswald 500',sans-serif;
  font-size: 16px;
  pointer-events: none;
  color: #fff;
.datepicker-panel>ul>li, .datepicker-panel>ul[data-view=week]>li, .datepicker-panel>ul[data-view=week]>li:hover
  background-color transparent
.gogocar-calendar-next .icon, .gogocar-calendar-prev .icon
  width: 16px;
  height: 16px;
  pointer-events: none;
.gogocar-calendar-days.muted
  display none
.datepicker-panel>ul:after, .datepicker-panel>ul:before
  display none
.gogocar-calendar-next:hover, .gogocar-calendar-prev:hover
  background-color: #fdab3e!important;
  box-shadow: 0 0 20px rgba(253,171,62,.6);
.gogocar-calendar-days
  font-family: 'Montserrat 500',sans-serif;
  font-size: 15px;
  display: flex;
  width: 40px!important;
  height: 40px!important;
  color: #fff;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
.datepicker-top-left:before, .datepicker-top-right:before,.datepicker-top-left:after, .datepicker-top-right:after
  display none
.datepicker-bottom-left:before, .datepicker-bottom-right:before,.datepicker-bottom-left:after, .datepicker-bottom-right:after
  display none
.gogocar-calendar-days.disabled
  color: #929292!important;
  background-color: transparent!important;
  box-shadow: none;
.gogocar-calendar-days:hover, .picked-day-gogocar
  background-color: #fdab3e!important;
  box-shadow: 0 0 20px rgba(253,171,62,.6);
.today-day-gogocar
  color: #000;
  background-color: #fff!important;
  box-shadow: 0 0 20px rgba(255,255,255,.6);
