section.section-dialog.col-xl-3.col-lg-4.col-md-12.col-sm-12.pr-right-30
    .chats-dialogs.bg-white.bg-border
        .chats-top
            .section-title-v1.mb-0 Диалоги
            .chats-dots 
                +icon('dots')   


        .chats-bottom 
            .chats-bottom-search
                input.section-lk-input.chats-search(type="text" placeholder="Имя или № заказа") 
                .section-lk-input--date__icon--block 
                    +icon('search3')
            .chats-bottom-users--list 
                .chats-bottom-users--item 
                    .chats-bottom-users--item__top 
                        .chats-bottom-users--left(style="background-image:url('./static/img/general/ava.png')") 
                        .chats-bottom-users--right 
                            .chats-bottom-users--right__name Алексей Матвеев
                            .chats-bottom-users--right__theme Оформление ВНЖ
                    .chats-bottom-users--item__bottom 
                        .chats-bottom-users--item__msg Leo tristique nisi condimentum...
                        .chats-bottom-users--item__notif 1
                .chats-bottom-users--item 
                    .chats-bottom-users--item__top 
                        .chats-bottom-users--left(style="background-image:url('./static/img/general/ava.png')") 
                        .chats-bottom-users--right 
                            .chats-bottom-users--right__name Алексей Матвеев
                            .chats-bottom-users--right__theme Оформление ВНЖ
                    .chats-bottom-users--item__bottom 
                        .chats-bottom-users--item__msg Leo tristique nisi condimentum...
                        .chats-bottom-users--item__notif 1
                .chats-bottom-users--item 
                    .chats-bottom-users--item__top 
                        .chats-bottom-users--left(style="background-image:url('./static/img/general/ava.png')") 
                        .chats-bottom-users--right 
                            .chats-bottom-users--right__name Алексей Матвеев
                            .chats-bottom-users--right__theme Оформление ВНЖ
                    .chats-bottom-users--item__bottom 
                        .chats-bottom-users--item__msg Leo tristique nisi condimentum...
                        .chats-bottom-users--item__notif 1  
                .chats-bottom-users--item 
                    .chats-bottom-users--item__top 
                        .chats-bottom-users--left(style="background-image:url('./static/img/general/ava.png')") 
                        .chats-bottom-users--right 
                            .chats-bottom-users--right__name Алексей Матвеев
                            .chats-bottom-users--right__theme Оформление ВНЖ
                    .chats-bottom-users--item__bottom 
                        .chats-bottom-users--item__msg Leo tristique nisi condimentum...
                        .chats-bottom-users--item__notif 1  
                .chats-bottom-users--item 
                    .chats-bottom-users--item__top 
                        .chats-bottom-users--left(style="background-image:url('./static/img/general/ava.png')") 
                        .chats-bottom-users--right 
                            .chats-bottom-users--right__name Алексей Матвеев
                            .chats-bottom-users--right__theme Оформление ВНЖ
                    .chats-bottom-users--item__bottom 
                        .chats-bottom-users--item__msg Leo tristique nisi condimentum...
                        .chats-bottom-users--item__notif 1  
                .chats-bottom-users--item 
                    .chats-bottom-users--item__top 
                        .chats-bottom-users--left(style="background-image:url('./static/img/general/ava.png')") 
                        .chats-bottom-users--right 
                            .chats-bottom-users--right__name Алексей Матвеев
                            .chats-bottom-users--right__theme Оформление ВНЖ
                    .chats-bottom-users--item__bottom 
                        .chats-bottom-users--item__msg Leo tristique nisi condimentum...
                        .chats-bottom-users--item__notif 1                                        

                      
