section.section-1
    .filter-main.box-bg2
        include ../../modules/filters/filter-top
        .section-bottom-side.filter-balance-bottom.row.m-0
            .col-xl-12.col-lg-12.col-md-12.col-sm-6.section-input-wrap.p-0
                label ID
                input.input-main(type="text" placeholder="ID...")