@media (min-width: 1200px)
  .col-xl-2_5
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
  .col-xl-8_5
    flex: 0 0 72.666%;
    max-width: 72.666%; 

@media (min-width: 992px)
  .col-lg-2_5
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
  .col-lg-8_5
    flex: 0 0 72.666%;
    max-width: 72.666%;   

@media (min-width: 768px)
  .col-md-2_5
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
  .col-md-8_5
    flex: 0 0 72.666%;
    max-width: 72.666%;   

@media (min-width: 576px)
  .col-sm-2_5
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
  .col-sm-8_5
    flex: 0 0 72.666%;
    max-width: 72.666%;   

@media (min-width: 1200px)
  .col-xl-9_5
    -ms-flex: 0 0 80%;
    -webkit-box-flex: 0;
    flex: 0 0 80%;
    max-width: 80%;

@media (min-width: 992px)
  .col-lg-9_5
    -ms-flex: 0 0 80%;
    -webkit-box-flex: 0;
    flex: 0 0 80%;
    max-width: 80%;

@media (min-width: 768px)
  .col-md-9_5
    -ms-flex: 0 0 80%;
    -webkit-box-flex: 0;
    flex: 0 0 80%;
    max-width: 80%;

@media (min-width: 576px)
  .col-sm-9_5
    -ms-flex: 0 0 80%;
    -webkit-box-flex: 0;
    flex: 0 0 80%;
    max-width: 80%;
