section.section-2.section-content-main--table
    .section-content--main__wrap.box-bg2
        .section-content--main
            .section-top-side
                .section-block-title-question
                    .section-block--title Баннеры
                .filter-side--right
                    .section-top-added.gogocar-arrow-button
                        +icon('plus')
            .section-bottom-side--scroll
                table.section-table
                    thead
                        tr
                            th
                                .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            th.section-thead--icon
                                +icon('settings')
                            th Название  
                            th Id
                            th Активность
                            th Сорт
                            
                    tbody.section-data-container
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td Баннеры на главной          
                            td 1
                            td Да
                            td 100
                            

                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td Тизеры на главной           
                            td 1
                            td Да
                            td 100

            .section-bottom-pagination--wrap
                .section-bottom--delete.gogocar-arrow-button
                    +icon('delete')
                .section-bottom-pagination

// .section-content-main--table
section.section3.section-content-main-mobile--table
    .section-content--main-mobile__wrap
        .section-content--main.box-bg2.pb-20px
            .section-top-side.box-bg-mobile2
                .section-block--title Баннеры
                .filter-side--right
                    .section-top-added.gogocar-arrow-button
                        +icon('plus')
            .section-bottom-side--mobile__list
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name Тизеры на главной
                       
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Название:
                            .section-mobile-table--item__right Тизеры на главной
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Id: 
                            .section-mobile-table--item__right 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Активность: Да
                            .section-mobile-table--item__right Да 
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Сорт: 
                            .section-mobile-table--item__right 100
                                    



                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name 25 миллионов пользователей в Ро...
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Название:
                            .section-mobile-table--item__right Тизеры на главной
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Id: 
                            .section-mobile-table--item__right 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Активность: Да
                            .section-mobile-table--item__right Да 
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Сорт: 
                            .section-mobile-table--item__right 100
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name 25 миллионов пользователей в Ро...
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Название:
                            .section-mobile-table--item__right Тизеры на главной
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Id: 
                            .section-mobile-table--item__right 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Активность: Да
                            .section-mobile-table--item__right Да 
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Сорт: 
                            .section-mobile-table--item__right 100





            .section-bottom-pagination--wrap.mt-20px
                .section-bottom--delete.gogocar-arrow-button
                    +icon('delete')
                .section-bottom-pagination