section.section2
    .section-content--main__wrap.box-bg2.p-0
        .section-content--main
            .section-top-side.section-top-side--border-bottom
                .section-block--title Группы
            .col-xl-12.col-lg-12.col-md-12.col-sm-6.section-input-wrap
                label Название группы:
                input.input-main(type="text" placeholder="ТП")
            .section-bottom-side--scroll2
                table.section-table2
                    thead
                        tr
                            th Пользователи:
                            th Категория:
                            th.section-table2--width-word1 Может видеть сообщения группы
                            th.section-table2--width-word2 Получает уведомления о новых обращениях в группе
                            th.section-table2--width-word3 Получает уведомления о обновлении обращений в группе
                    tbody
                        tr
                            td.section-table2--td__id
                                input.section-table2--input(type="text" value="1")
                                .section-table2--input.section-table2--input__contenteditable(contenteditable)
                                    .section-table2--input__text [1]
                                    span (admin)
                            td
                                input.section-table2--input(type="text" value="Ошибки")
                            td
                                .checkbox-input--tab__item.gray-checkbox
                                    .checkbox-input
                                    input.checkbox-input--tab(type="checkbox")
                            td
                                .checkbox-input--tab__item.gray-checkbox
                                    .checkbox-input
                                    input.checkbox-input--tab(type="checkbox")
                            td
                                .checkbox-input--tab__item.gray-checkbox
                                    .checkbox-input
                                    input.checkbox-input--tab(type="checkbox")
                        tr
                            td.section-table2--td__id
                                input.section-table2--input(type="text" value="2")
                                .section-table2--input.section-table2--input__contenteditable(contenteditable)
                                    .section-table2--input__text [2]
                                    span (dev) Разработчик...
                            td
                                input.section-table2--input(type="text" value="Оплата заказа")
                            td
                                .checkbox-input--tab__item.gray-checkbox
                                    .checkbox-input
                                    input.checkbox-input--tab(type="checkbox")
                            td
                                .checkbox-input--tab__item.gray-checkbox
                                    .checkbox-input
                                    input.checkbox-input--tab(type="checkbox")
                            td
                                .checkbox-input--tab__item.gray-checkbox
                                    .checkbox-input
                                    input.checkbox-input--tab(type="checkbox")
                .section-table2--added__item Добавить
            .section-footer-side
                .section-buttons--wrap
                    button.section-button--yellow.w-100px.mr-3(type="submit") Сохранить
                    .section-button--gray.w-100px Отменить