sidebar.col-xl-2_5.col-lg-3.col-md-4.col-sm-10.left-side.box-bg
    .nav-sidebar
        .nav-sidebar--admin
            .nav-sidebar--admin__img(style="background-image:url('./static/img/general/ava.png')")
            .nav-sidebar--admin__info
                .nav-sidebar--admin__name Admin
                .nav-sidebar--admin__role Administrator
        .nav-sidebar--sections
            ul.nav-sidebar-menu--list
                li.nav-sidebar-menu--item
                    .nav-sidebar-menu--item--wrap
                        .nav-sidebar-menu--item__left-side
                            +icon('settings2')
                            .nav-sidebar-menu--item__name Настройки
                        .nav-sidebar-menu--item__right-side
                            +icon('arrow-down-white')
                    ul.nav-sidebar-menu--list--depth2
                        a.nav-sidebar-menu--item--depth2(href="/") Пользователи
                        a.nav-sidebar-menu--item--depth2(href="/") Права доступа
                        a.nav-sidebar-menu--item--depth2(href="/") Роли

                li.nav-sidebar-menu--item
                    .nav-sidebar-menu--item--wrap
                        .nav-sidebar-menu--item__left-side
                            +icon('user-control')
                            .nav-sidebar-menu--item__name Управление пользователями
                        .nav-sidebar-menu--item__right-side
                            +icon('arrow-down-white')
                    ul.nav-sidebar-menu--list--depth2
                        a.nav-sidebar-menu--item--depth2(href="/") Пользователи
                        a.nav-sidebar-menu--item--depth2(href="/") Права доступа
                        a.nav-sidebar-menu--item--depth2(href="/") Роли
                li.nav-sidebar-menu--item
                    .nav-sidebar-menu--item--wrap
                        .nav-sidebar-menu--item__left-side
                            +icon('uslugi')
                            .nav-sidebar-menu--item__name Услуги
                        .nav-sidebar-menu--item__right-side
                            +icon('arrow-down-white')
                    ul.nav-sidebar-menu--list--depth2
                        li.nav-sidebar-menu--item--depth2
                            .nav-sidebar-menu--item--depth2--wrap.jc-depth
                                +icon('folder')
                                span Оформление гражданства
                            ul.nav-sidebar-menu--list--depth3
                                a.nav-sidebar-menu--item--depth3(href="/") Пользователи
                        li.nav-sidebar-menu--item--depth2
                            .nav-sidebar-menu--item--depth2--wrap.jc-depth
                                +icon('folder')
                                span Оформление РВП
                            ul.nav-sidebar-menu--list--depth3
                                a.nav-sidebar-menu--item--depth3(href="/") Пользователи
                        li.nav-sidebar-menu--item--depth2
                            .nav-sidebar-menu--item--depth2--wrap.jc-depth
                                +icon('folder')
                                span Патент на работу
                            ul.nav-sidebar-menu--list--depth3
                                a.nav-sidebar-menu--item--depth3(href="/") Пользователи



                        a.nav-sidebar-menu--item--depth2(href="/") Пользователи
                        a.nav-sidebar-menu--item--depth2(href="/") Права доступа
                        a.nav-sidebar-menu--item--depth2(href="/") Роли
                li.nav-sidebar-menu--item
                    .nav-sidebar-menu--item--wrap
                        .nav-sidebar-menu--item__left-side
                            +icon('otzivi')
                            .nav-sidebar-menu--item__name Отзывы
                        .nav-sidebar-menu--item__right-side
                            +icon('arrow-down-white')
                    ul.nav-sidebar-menu--list--depth2
                        a.nav-sidebar-menu--item--depth2(href="/") Пользователи
                        a.nav-sidebar-menu--item--depth2(href="/") Права доступа
                        a.nav-sidebar-menu--item--depth2(href="/") Роли
                li.nav-sidebar-menu--item
                    .nav-sidebar-menu--item--wrap
                        .nav-sidebar-menu--item__left-side
                            +icon('files2')
                            .nav-sidebar-menu--item__name Контент
                        .nav-sidebar-menu--item__right-side
                            +icon('arrow-down-white')
                    ul.nav-sidebar-menu--list--depth2
                        a.nav-sidebar-menu--item--depth2(href="/") Пользователи
                        a.nav-sidebar-menu--item--depth2(href="/") Права доступа
                        a.nav-sidebar-menu--item--depth2(href="/") Роли
                li.nav-sidebar-menu--item
                    .nav-sidebar-menu--item--wrap
                        .nav-sidebar-menu--item__left-side
                            +icon('ubu2')
                            .nav-sidebar-menu--item__name Операции
                        .nav-sidebar-menu--item__right-side
                            +icon('arrow-down-white')
                    ul.nav-sidebar-menu--list--depth2
                        a.nav-sidebar-menu--item--depth2(href="/") Пользователи
                        a.nav-sidebar-menu--item--depth2(href="/") Права доступа
                        a.nav-sidebar-menu--item--depth2(href="/") Роли
                li.nav-sidebar-menu--item
                    .nav-sidebar-menu--item--wrap
                        .nav-sidebar-menu--item__left-side
                            +icon('yandex2')
                            .nav-sidebar-menu--item__name Яндекс метрика
                        .nav-sidebar-menu--item__right-side
                            +icon('arrow-down-white')
                    ul.nav-sidebar-menu--list--depth2
                        a.nav-sidebar-menu--item--depth2(href="/") Пользователи
                        a.nav-sidebar-menu--item--depth2(href="/") Права доступа
                        a.nav-sidebar-menu--item--depth2(href="/") Роли
                li.nav-sidebar-menu--item
                    .nav-sidebar-menu--item--wrap
                        .nav-sidebar-menu--item__left-side
                            +icon('gg')
                            .nav-sidebar-menu--item__name Google аналитика
                        .nav-sidebar-menu--item__right-side
                            +icon('arrow-down-white')
                    ul.nav-sidebar-menu--list--depth2
                        a.nav-sidebar-menu--item--depth2(href="/") Пользователи
                        a.nav-sidebar-menu--item--depth2(href="/") Права доступа
                        a.nav-sidebar-menu--item--depth2(href="/") Роли
                li.nav-sidebar-menu--item
                    .nav-sidebar-menu--item--wrap
                        .nav-sidebar-menu--item__left-side
                            +icon('lg')
                            .nav-sidebar-menu--item__name Отчеты
                        .nav-sidebar-menu--item__right-side
                            +icon('arrow-down-white')
                    ul.nav-sidebar-menu--list--depth2
                        a.nav-sidebar-menu--item--depth2(href="/") Пользователи
                        a.nav-sidebar-menu--item--depth2(href="/") Права доступа
                        a.nav-sidebar-menu--item--depth2(href="/") Роли





