sidebar.col-xl-2_5.col-lg-3.col-md-4.col-sm-10.left-side.box-bg
	.nav-sidebar
		.nav-sidebar--admin
			.nav-sidebar--admin__img(style="background-image:url('./static/img/general/ava.png')")
			.nav-sidebar--admin__info
				.nav-sidebar--admin__name Admin
				.nav-sidebar--admin__role Administrator
		.nav-sidebar--sections
			ul.nav-sidebar-menu--list
				li.nav-sidebar-menu--item
					.nav-sidebar-menu--item--wrap
						.nav-sidebar-menu--item__left-side
							+icon('settings2')
							.nav-sidebar-menu--item__name Настройки
						.nav-sidebar-menu--item__right-side
							+icon('arrow-down-white')
					ul.nav-sidebar-menu--list--depth2
						a.nav-sidebar-menu--item--depth2(href="/") Пользователи
						a.nav-sidebar-menu--item--depth2(href="/") Права доступа
						a.nav-sidebar-menu--item--depth2(href="/") Роли

				li.nav-sidebar-menu--item
					.nav-sidebar-menu--item--wrap
						.nav-sidebar-menu--item__left-side
							+icon('user-control')
							.nav-sidebar-menu--item__name Управление пользователями
						.nav-sidebar-menu--item__right-side
							+icon('arrow-down-white')
					ul.nav-sidebar-menu--list--depth2
						a.nav-sidebar-menu--item--depth2(href="/") Пользователи
						a.nav-sidebar-menu--item--depth2(href="/") Права доступа
						a.nav-sidebar-menu--item--depth2(href="/") Роли
				li.nav-sidebar-menu--item
					.nav-sidebar-menu--item--wrap
						.nav-sidebar-menu--item__left-side
							+icon('uslugi')
							.nav-sidebar-menu--item__name Услуги
						.nav-sidebar-menu--item__right-side
							+icon('arrow-down-white')
					ul.nav-sidebar-menu--list--depth2
						li.nav-sidebar-menu--item--depth2
							.nav-sidebar-menu--item--depth2--wrap.jc-depth
								+icon('folder')
								span Оформление гражданства
							ul.nav-sidebar-menu--list--depth3
								a.nav-sidebar-menu--item--depth3(href="/") Пользователи
						li.nav-sidebar-menu--item--depth2
							.nav-sidebar-menu--item--depth2--wrap.jc-depth
								+icon('folder')
								span Оформление РВП
							ul.nav-sidebar-menu--list--depth3
								a.nav-sidebar-menu--item--depth3(href="/") Пользователи
						li.nav-sidebar-menu--item--depth2
							.nav-sidebar-menu--item--depth2--wrap.jc-depth
								+icon('folder')
								span Патент на работу
							ul.nav-sidebar-menu--list--depth3
								a.nav-sidebar-menu--item--depth3(href="/") Пользователи



						a.nav-sidebar-menu--item--depth2(href="/") Пользователи
						a.nav-sidebar-menu--item--depth2(href="/") Права доступа
						a.nav-sidebar-menu--item--depth2(href="/") Роли
				li.nav-sidebar-menu--item
					.nav-sidebar-menu--item--wrap
						.nav-sidebar-menu--item__left-side
							+icon('otzivi')
							.nav-sidebar-menu--item__name Отзывы
						.nav-sidebar-menu--item__right-side
							+icon('arrow-down-white')
					ul.nav-sidebar-menu--list--depth2
						a.nav-sidebar-menu--item--depth2(href="/") Пользователи
						a.nav-sidebar-menu--item--depth2(href="/") Права доступа
						a.nav-sidebar-menu--item--depth2(href="/") Роли
				li.nav-sidebar-menu--item
					.nav-sidebar-menu--item--wrap
						.nav-sidebar-menu--item__left-side
							+icon('files2')
							.nav-sidebar-menu--item__name Контент
						.nav-sidebar-menu--item__right-side
							+icon('arrow-down-white')
					ul.nav-sidebar-menu--list--depth2
						a.nav-sidebar-menu--item--depth2(href="/") Пользователи
						a.nav-sidebar-menu--item--depth2(href="/") Права доступа
						a.nav-sidebar-menu--item--depth2(href="/") Роли
				li.nav-sidebar-menu--item
					.nav-sidebar-menu--item--wrap
						.nav-sidebar-menu--item__left-side
							+icon('ubu2')
							.nav-sidebar-menu--item__name Операции
						.nav-sidebar-menu--item__right-side
							+icon('arrow-down-white')
					ul.nav-sidebar-menu--list--depth2
						a.nav-sidebar-menu--item--depth2(href="/") Пользователи
						a.nav-sidebar-menu--item--depth2(href="/") Права доступа
						a.nav-sidebar-menu--item--depth2(href="/") Роли
				li.nav-sidebar-menu--item
					.nav-sidebar-menu--item--wrap
						.nav-sidebar-menu--item__left-side
							+icon('yandex2')
							.nav-sidebar-menu--item__name Яндекс метрика
						.nav-sidebar-menu--item__right-side
							+icon('arrow-down-white')
					ul.nav-sidebar-menu--list--depth2
						a.nav-sidebar-menu--item--depth2(href="/") Пользователи
						a.nav-sidebar-menu--item--depth2(href="/") Права доступа
						a.nav-sidebar-menu--item--depth2(href="/") Роли
				li.nav-sidebar-menu--item
					.nav-sidebar-menu--item--wrap
						.nav-sidebar-menu--item__left-side
							+icon('gg')
							.nav-sidebar-menu--item__name Google аналитика
						.nav-sidebar-menu--item__right-side
							+icon('arrow-down-white')
					ul.nav-sidebar-menu--list--depth2
						a.nav-sidebar-menu--item--depth2(href="/") Пользователи
						a.nav-sidebar-menu--item--depth2(href="/") Права доступа
						a.nav-sidebar-menu--item--depth2(href="/") Роли
				li.nav-sidebar-menu--item
					.nav-sidebar-menu--item--wrap
						.nav-sidebar-menu--item__left-side
							+icon('lg')
							.nav-sidebar-menu--item__name Отчеты
						.nav-sidebar-menu--item__right-side
							+icon('arrow-down-white')
					ul.nav-sidebar-menu--list--depth2
						a.nav-sidebar-menu--item--depth2(href="/") Пользователи
						a.nav-sidebar-menu--item--depth2(href="/") Права доступа
						a.nav-sidebar-menu--item--depth2(href="/") Роли
			.col-xl-2_5.col-lg-3.col-md-4.col-sm-12.sidebar-editor--attributes__blocks

				.editor-item.row
					.col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap.pl-0.pr-7_5
						.section-select--input2.editor-img--size__input
							.editor-size--icon X
							input.editor-block--size__x(type="text" placeholder="150px")
					.col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap.pr-0.pl-7_5
						.section-select--input2.editor-img--size__input
							.editor-size--icon Y
							input.editor-block--size__y(type="text" placeholder="150px")

				.editor-item.row
					.col-xl-12.col-lg-12.col-md-12.col-sm-12.section-input-wrap.p-0
						label Цвет
						.color-picker-spectrum3
							.color-picker-spectrum__wrap
								.color-picker--choise(style="background-color:#272727;")
								input.color-picker-spectrum__input.editor-color-transparent(type="text" value="#272727")
							.color-picker--icon
								+icon('picker')
				.editor-item.mb-5
					.section-input-wrap
						label Скругление углов
						.editor-item--flex
							input.section-select--input2.editor-block--border__radius1.editor-block--border__radius(type="number" min="0" max="100" placeholder="0")
							input.section-select--input2.editor-block--border__radius2.editor-block--border__radius(type="number" min="0" max="100" placeholder="0")
							.editor-icon-cep
								+icon('cep')
							input.section-select--input2.editor-block--border__radius3.editor-block--border__radius(type="number" min="0" max="100" placeholder="0")
							input.section-select--input2.editor-block--border__radius4.editor-block--border__radius(type="number" min="0" max="100" placeholder="0")

				.editor-save-settings Сохранить изменения
			.col-xl-2_5.col-lg-3.col-md-4.col-sm-12.sidebar-editor--attributes__img
				.editor-item.row
					.col-xl-12.col-lg-12.col-md-12.col-sm-12.section-tiny-wrap
						label Файл
						.editor-img--wrapper
							.editor-img--zone
							input.editor-img--input#editor-img__id(type="file")
							.editor-img--info
								.editor-img--info__wrap
									.editor-img--info__icon
										+icon('photo')
									.editor-img--info__text Выберите файл
										span (или перенесите сюда)
								.editor-img--info__format PNG; JPG; SVG
					.col-xl-8.col-lg-8.col-md-8.col-sm-8.section-input-wrap.p-0
						.section-select--input2
							.editor-info--img__pic(style="background-image:url('./static/img/content/woman.png')")
							.editor-info--img__text Woman.png

					.col-xl-4.col-lg-4.col-md-4.col-sm-4.section-input-wrap.pr-0
						input.section-select--input2.editor-item--img__percent(type="number" value="100" placeholder="100%" min="0" max="100")
					.col-xl-12.col-lg-12.col-md-12.col-sm-12.section-input-wrap.p-0
						.section-select--input2.editor-item--img__delete Удалить
				.editor-item.row
					.col-xl-12.col-lg-12.col-md-12.col-sm-12.section-input-wrap.p-0
						label Размер
						.section-select--input2.section-select--input__show.editor-img--data__size
							span Автоматически
							.section-select--popup__icon
								+icon('arrow-down-white')
							ul.section-select--popup__list.section-select--popup__list__show
								li.section-select--popup__item2.hover-text-color.editor-item--img__size(data-size="100%") Автоматически
								li.section-select--popup__item2.hover-text-color.editor-item--img__size(data-size="150") Маленький
								li.section-select--popup__item2.hover-text-color.editor-item--img__size(data-size="300") Средний
								li.section-select--popup__item2.hover-text-color.editor-item--img__size(data-size="500") Большой

					.col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap.p-0.pr-7_5
						.section-select--input2.editor-img--size__input
							.editor-size--icon X
							input.editor-img--size__x(type="text" placeholder="150px")
					.col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap.pr-0.pl-7_5
						.section-select--input2.editor-img--size__input
							.editor-size--icon Y
							input.editor-img--size__y(type="text" placeholder="150px")

				.editor-item.row
					.col-xl-12.col-lg-12.col-md-12.col-sm-12.section-input-wrap.p-0
						label Фон
						.color-picker-spectrum2
							.color-picker-spectrum__wrap
								.color-picker--choise(style="background-color:#272727;")
								input.color-picker-spectrum__input.editor-color-transparent(type="text" value="#272727")
							.color-picker--icon
								+icon('picker')
				.editor-item.mb-5
					.section-input-wrap
						label Скругление углов
						.editor-item--flex
							input.section-select--input2.editor-img--border__radius1.editor-img--border__radius(type="number" min="0" max="100" placeholder="0")
							input.section-select--input2.editor-img--border__radius2.editor-img--border__radius(type="number" min="0" max="100" placeholder="0")
							.editor-icon-cep
								+icon('cep')
							input.section-select--input2.editor-img--border__radius3.editor-img--border__radius(type="number" min="0" max="100" placeholder="0")
							input.section-select--input2.editor-img--border__radius4.editor-img--border__radius(type="number" min="0" max="100" placeholder="0")

				.editor-save-settings Сохранить изменения
			.col-xl-2_5.col-lg-3.col-md-4.col-sm-12.sidebar-editor--attributes__text
				.col-xl-12.col-lg-12.col-md-12.col-sm-12.section-tiny-wrap.editor-item
						label Текст
						.section-tiny-side
							.section-text-options
								.section-text-option__item(data-edit-type="bold")
									+icon('bold-text')
								.section-text-option__item(data-edit-type="italic")
									+icon('cursive')
								.section-text-option__item(data-edit-type="underline")
									+icon('underline-text')
								.section-text-option__item(data-edit-type="formatblock" data-edit-value="blockquote")
									+icon('quote')
								.section-text-option__item(data-edit-type="insertunorderedlist")
									+icon('list')
								.section-text-option__item(data-edit-type="insertorderedlist")
									+icon('numbers')
								.section-text-option__item(data-edit-type="fontsize-smaller")
									+icon('font')
								.section-text-option__item(data-edit-type="fontsize-bigger")
									+icon('line')
							.textarea-text-option--wrap
								.textarea-text-option.editor-textarea-text(contenteditable="true") Ответ...
				.editor-item.row
					.col-xl-12.col-lg-12.col-md-12.col-sm-12.section-input-wrap.p-0
						label Шрифт
						.section-select--input2.section-select--input__show.editor-sidebar-ff
							span Montserrat
							.section-select--popup__icon
								+icon('arrow-down-white')
							ul.section-select--popup__list.section-select--popup__list__show
								li.section-select--popup__item2.hover-text-color Montserrat
								li.section-select--popup__item2.hover-text-color Open Sans
								li.section-select--popup__item2.hover-text-color Oswald
					.col-xl-8.col-lg-8.col-md-8.col-sm-8.section-input-wrap.p-0
						.section-select--input2.section-select--input__show.editor-sidebar-weight
							span Regular
							.section-select--popup__icon
								+icon('arrow-down-white')
							ul.section-select--popup__list.section-select--popup__list__show
								li.section-select--popup__item2.hover-text-color(data-weight="300") Light
								li.section-select--popup__item2.hover-text-color(data-weight="400") Regular
								li.section-select--popup__item2.hover-text-color(data-weight="500") Medium
								li.section-select--popup__item2.hover-text-color(data-weight="600") Bold
					//- .col-xl-4.col-lg-4.col-md-4.col-sm-4.section-input-wrap.pl-0
					//- 	.section-select--input2.section-select--input__show.editor-sidebar-fs
					//- 		span 15
					//- 		.section-select--popup__icon
					//- 			+icon('arrow-down-white')
					//- 		ul.section-select--popup__list.section-select--popup__list__show
					//- 			li.section-select--popup__item2.hover-text-color 15
					//- 			li.section-select--popup__item2.hover-text-color 16
					//- 			li.section-select--popup__item2.hover-text-color 17
					.col-xl-4.col-lg-4.col-md-4.col-sm-4.section-input-wrap.pr-0
						input.section-select--input2.editor-sidebar-fs(type="number" value="15" min="0")
				.editor-item.row.mb-5
					.col-xl-12.col-lg-12.col-md-12.col-sm-12.section-input-wrap.p-0
						label Цвет
						.color-picker-spectrum
							.color-picker-spectrum__wrap
								.color-picker--choise(style="background-color:#272727;")
								input.color-picker-spectrum__input.editor-color-transparent(type="text" value="#272727")
							.color-picker--icon
								+icon('picker')

					//- .col-xl-4.col-lg-4.col-md-4.col-sm-4.section-input-wrap.pl-0
					//- 	label  
					//- 	input.section-select--input2(type="text" value="100%")
				.editor-save-settings Сохранить изменения
