section.section2.col-xl-5.col-lg-5.col-md-5.col-sm-6
    .filter-main.box-bg2
        .section-top-side
            .section-block--title Регионы

        .section-bottom-side
            // Таблицу или контент сюда