section.section4.col-xl-4.col-lg-4.col-md-4.col-sm-6
    .section-yandex-2table
        .section-yandex-item
            .filter-main.box-bg2
                .section-top-yandex
                    .section-block--desc Среднее время нахождения
                    .section-block--time 1 ч 20 мин

                .section-bottom-side.border-none
                    // Таблицу или контент сюда
        .section-yandex-item
            .filter-main.box-bg2
                .section-top-yandex
                    .section-block--desc Среднее время в течении дня
                    .section-block--time 12 ч 30 мин

                .section-bottom-side.border-none
                    // Таблицу или контент сюда