section.section2.col-xl-8.col-lg-8.col-md-8.col-sm-6
    .filter-main.box-bg2
        .section-top-side
            .section-block--title Посещаемость по часам

        .section-bottom-side
            // Таблицу или контент сюда