section.section2.col-xl-6.col-lg-6.col-md-6.col-sm-6
    .filter-main.box-bg2
        .section-top-side
            .section-reports-left
                .section-block--title Отчеты по целям
            .section-reports-right
                //.section-reports-right--calendar
                //    .section-reports-right--calendar__date #[.srrc-date-1 07 сен 2019] - #[.srrc-date-2 02 ноя 2019]
                //    .section-reports-right--calendar__icon
                //        +icon('calendar')
                .section-input-wrap.section-reports-right--calendar.p-0.w-191
                    .section-select--input2.section-select--input__show
                        span Популярные страницы
                        .section-select--popup__icon
                            +icon('arrow-down-white')
                        ul.section-select--popup__list.section-select--popup__list__show
                            li.section-select--popup__item2.hover-text-color 1
                            li.section-select--popup__item2.hover-text-color 2
                            li.section-select--popup__item2.hover-text-color 3
        .section-bottom-side
            // Таблицу или контент сюда