section.section-2.section-content-main--table
    .section-content--main__wrap.box-bg2
        .section-content--main
            .section-top-side
                .section-block-title-question
                    .section-block--title Купоны
                .section-block-added-csv
                    .section-upper-modal
                        .section-csv-green Загрузить из CSV
                        .section-csv-yellow Выгрузить в CSV
                    .section-csv--wrap
                        .section-csv-green Загрузить из CSV
                        .section-csv-yellow Выгрузить в CSV
                    .filter-side--right
                        .section-dotted-mobile.gogocar-arrow-button
                            +icon('dots')
                        .section-top-added.gogocar-arrow-button
                            +icon('plus')

            .section-bottom-side--scroll
                table.section-table
                    thead
                        tr
                            th
                                .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            th.section-thead--icon
                                +icon('settings')
                            th Id
                            th Купон
                            th Акт.
                            th Активно с
                            th Активно по
                            th Тип
                            th Был использован
                            th Владелец
                            th Дата изменения
                    tbody.section-data-container
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td 1
                            td SL-CLON8-RVMZW6K
                            td Да
                            td 16.09.2020
                            td 16.10.2020
                            td Многоразовый
                            td 1
                            td 
                                a.color-yellow(href="/") Admin 1
                            td 16.09.2020 13:45
                            td Оплата наличными 
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td 1
                            td SL-CLON8-RVMZW6K
                            td Да
                            td 16.09.2020
                            td 16.10.2020
                            td Многоразовый
                            td 1
                            td 
                                a.color-yellow(href="/") Admin 1
                            td 16.09.2020 13:45
                            td Оплата наличными 
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td 1
                            td SL-CLON8-RVMZW6K
                            td Да
                            td 16.09.2020
                            td 16.10.2020
                            td Многоразовый
                            td 1
                            td 
                                a.color-yellow(href="/") Admin 1
                            td 16.09.2020 13:45
                            td Оплата наличными 
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td 1
                            td SL-CLON8-RVMZW6K
                            td Да
                            td 16.09.2020
                            td 16.10.2020
                            td Многоразовый
                            td 1
                            td 
                                a.color-yellow(href="/") Admin 1
                            td 16.09.2020 13:45
                            td Оплата наличными                             
                        
                        
            .section-bottom-pagination--wrap
                .section-bottom--delete.gogocar-arrow-button
                    +icon('delete')
                .section-bottom-pagination

// .section-content-main--table
section.section3.section-content-main-mobile--table
    .section-content--main-mobile__wrap
        .section-content--main.box-bg2.pb-20px
            .section-top-side.box-bg-mobile2
                .section-block--title Купоны
                .section-block-added-csv
                    .section-upper-modal
                        .section-csv-green Загрузить из CSV
                        .section-csv-yellow Выгрузить в CSV
                    .section-csv--wrap
                        .section-csv-green Загрузить из CSV
                        .section-csv-yellow Выгрузить в CSV
                    .filter-side--right
                        .section-dotted-mobile.gogocar-arrow-button
                            +icon('dots')
                        .section-top-added.gogocar-arrow-button
                            +icon('plus')
            .section-bottom-side--mobile__list
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name Id: 1
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Id
                            .section-mobile-table--item__right 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Купон
                            .section-mobile-table--item__right SL-CLON8-RVMZW6K
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Акт.
                            .section-mobile-table--item__right Да
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Активно с
                            .section-mobile-table--item__right 16.09.2020
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Активно по
                            .section-mobile-table--item__right 16.10.2020
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Тип
                            .section-mobile-table--item__right Многоразовый
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Был использован
                            .section-mobile-table--item__right 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Владелец
                            a.section-mobile-table--item__right.color-blue(href="/") Admin 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Дата изменения
                            .section-mobile-table--item__right 16.09.2020 13:45  
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name  Александр Куликов (Id 144)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name  Александр Куликов (Id 144)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее

                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name  Александр Куликов (Id 144)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name  Александр Куликов (Id 146)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')

                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name  Александр Куликов (Id 146)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')






            .section-bottom-pagination--wrap.mt-20px
                .section-bottom--delete.gogocar-arrow-button
                    +icon('delete')
                .section-bottom-pagination