// Шапка
@import 'header/header.styl'

// Футера
@import 'footer/footer.styl'

// Навигация
@import 'navigation/navigation.styl'

//Кнопки
@import "buttons/buttons.styl"

//Заголовки
@import "titles/titles.styl"

@import "input/input.styl"

@import "pagination/pagination.styl"

@import "input/calendar.styl"

@import "popups/popup.styl"

@import "chat/chat.styl"