extends ../layout/main

block variables
    - var title = 'Отчет о прибыли'
    - var pageClass = 'index-page'

block content
    include report/section1
    include report/section3
    include report/section2
    