extends ../layout/main

block variables
    - var title = 'Поддержка (Справочники, категории)'
    - var pageClass = 'index-page'

block content
    include support4/section-1
    include support4/section-2