extends ../layout/main

block variables
    - var title = 'Поддержка (Рабочий стол)'
    - var pageClass = 'index-page'

block content
    include support/section-1
    include support/section-3
    include support/section-4
    include support/section-5
    include support/section-6
    include support/section-7
    include support/section-8
    include support/section-9
