extends ../layout/main

block variables
    - var title = 'Яндекс метрика'
    - var pageClass = 'index-page'

block content
    include yandex/section1
    .section-reports-wrap.row.m-15
        include yandex/section2
        include yandex/section3
        include yandex/section4
        include yandex/section5
        include yandex/section6
        include yandex/section7
