//.section-remove--pdd
section.section2.section-content-main--table
    .section-content--main__wrap.box-bg2
        .section-content--main
            .section-top-side
                .section-block--title Страницы
                .filter-side--right
                    .section-top-added.gogocar-arrow-button
                        +icon('plus')
            .section-bottom-side--scroll
                table.section-table
                    thead
                        tr
                            th
                                .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            th.section-thead--icon
                                +icon('settings')
                            th Страница
                           
                    tbody.section-data-container
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td Главная
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td Оформление гражданства  
                           
            .section-bottom-pagination--wrap
                .section-bottom--delete.gogocar-arrow-button
                    +icon('delete')
                .section-bottom-pagination

section.section3.section-content-main-mobile--table
    .section-content--main-mobile__wrap
        .section-content--main.box-bg2.pb-20px
            .section-top-side.box-bg-mobile2
                .section-block--title Пользователи
                .filter-side--right
                    .section-top-added.gogocar-arrow-button
                        +icon('plus')
            .section-bottom-side--mobile__list
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name  Александр Куликов (Id 144)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее
                                    .section-tbody--modal--item
                                        +icon('auth2')
                                        span Авторизоваться
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Активность:
                            .section-mobile-table--item__right Да
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Дата изменения:
                            .section-mobile-table--item__right 01.05.2020 22:12:14
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Имя:
                            .section-mobile-table--item__right Александр
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Фамилия:
                            .section-mobile-table--item__right Куликов
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Email:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Последняя авторизация:
                            .section-mobile-table--item__right 01.05.2020 22:12:14
                        li.section-mobile-table--item
                            .section-mobile-table--item__left ID:
                            .section-mobile-table--item__right 144
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name  Александр Куликов (Id 144)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее
                                    .section-tbody--modal--item
                                        +icon('auth2')
                                        span Авторизоваться
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name  Александр Куликов (Id 144)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее
                                    .section-tbody--modal--item
                                        +icon('auth2')
                                        span Авторизоваться
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name  Александр Куликов (Id 144)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее
                                    .section-tbody--modal--item
                                        +icon('auth2')
                                        span Авторизоваться
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name  Александр Куликов (Id 146)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее
                                    .section-tbody--modal--item
                                        +icon('auth2')
                                        span Авторизоваться
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')

                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name  Александр Куликов (Id 146)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее
                                    .section-tbody--modal--item
                                        +icon('auth2')
                                        span Авторизоваться
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')

                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name  Александр Куликов (Id 146)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее
                                    .section-tbody--modal--item
                                        +icon('auth2')
                                        span Авторизоваться
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')

                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name  Александр Куликов (Id 146)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее
                                    .section-tbody--modal--item
                                        +icon('auth2')
                                        span Авторизоваться
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')

                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name  Александр Куликов (Id 146)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее
                                    .section-tbody--modal--item
                                        +icon('auth2')
                                        span Авторизоваться
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')

                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name  Александр Куликов (Id 146)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее
                                    .section-tbody--modal--item
                                        +icon('auth2')
                                        span Авторизоваться
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')

                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name__flex
                            .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            .section-bottom-side--mobile__item--name  Александр Куликов (Id 146)
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper2')
                                        span Подробнее
                                    .section-tbody--modal--item
                                        +icon('auth2')
                                        span Авторизоваться
                                    .section-tbody--modal--item
                                        +icon('pen2')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')

                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Логин:
                            .section-mobile-table--item__right Pushkin@mail.ru                        
            .section-bottom-pagination--wrap.mt-20px
                .section-bottom--delete.section-bottom--delete__mobile.gogocar-arrow-button
                    +icon('delete')
                .section-bottom-pagination