.header-nav-left-menu
  display none
  .icon
    opacity 1
    stroke: none
.section-bottom--delete .icon
  opacity 1
  stroke: none
.header-logout
  display none
//.section-top-side
//  padding 0
.section-overflow-top-side2
  overflow-x scroll
  overflow-y hidden
  padding-left 15px
  scrollbar-width: none;
.section-overflow-top-side2::-webkit-scrollbar
  height 0
.section-yellow-bg--wrap
  overflow-x scroll
  margin-right 35px
  flex-wrap nowrap
  width 100%
  scrollbar-width: none
.section-yellow-bg--wrap::-webkit-scrollbar
  height 0
.section-users-dropdown--mobile-buttons
  display none
  width 100%
.section-users-dropdown--mobile__load
  display flex
  align-items center
  background-color #424B5B
  border-radius 5px
  height 49px
  padding 15px 19px
  width 48%
  .icon
    size(19px)
    margin-right 16px
  span
    font-family 'Open Sans 400',sans-serif
    font-size 14px
    color #fff
.section-users-dropdown--mobile__delete
  display flex
  align-items center
  background-color #424B5B
  border-radius 5px
  height 49px
  padding 15px 19px
  width 48%
  .icon
    size(19px)
    margin-right 16px
  span
    font-family 'Open Sans 400',sans-serif
    font-size 14px
    color #fff
//.section-driver-rules--category
//  overflow-x scroll
.section-driver-rules--category::-webkit-scrollbar
  height 0
.sup-show-in-mobile
  display none
.section-upper-modal,.section-upper-modal__calendar
  display none
.section-dotted-mobile
  display none
.section-reports-mobile--wrap
  display none
.section-reports-mobile
  margin-right 23px
  .icon
    size(20px)
.list-pagez
  display flex
  flex-direction column
  a
    display: list-item;
    list-style: decimal;
    color #fff
.desktop-display-none
  margin-bottom 0
  width 191px

.section-select--input2
  cursor pointer
.section-select--popup__icon.active
  transform rotate(180deg)
.section-driver-rules--category__close
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  left: auto;
  right: -12px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  .icon
    fill #fff
    size(10px)
.section-driver-rules--category__item
  padding-right 23px
  cursor pointer
.section-driver-rules--category
  position relative
.section-driver-rules--category--popup__list
  position: absolute;
  display: none;
  top: 52px;
  right: 0;
  left: 0;
  width: 100%;
  background: #363d4a;
  -webkit-box-shadow: 0px 0px 40px rgba(27,33,43,0.85);
  box-shadow: 0px 0px 40px rgba(27,33,43,0.85);
  border-radius: 5px;
  padding: 8px 11px;
  z-index: 5;
.section-driver-rules--category--popup__item
  margin-bottom: 8px;
  font-family: 'Open Sans 400', sans-serif;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  transition all linear .1s
  &:last-child
    margin-bottom 0
  &:hover
    color #FDAB3E

.section-select--popup__list
  z-index 20
.section-time-input--wrap
  display flex
  position relative
  align-items center




.content::-webkit-scrollbar
  width: 10px;
  border-radius: 10px;

.content::-webkit-scrollbar-button
  display: block;
  size(10px)
  background-color: transparent;

.content::-webkit-scrollbar-thumb
  border-radius: 10px;
  background-color: #2F80ED
  //box-shadow: 0px 0px 10px rgba(253, 171, 62, 0.3);

.content::-webkit-scrollbar-track
  margin-right: 5px;
.content::-webkit-scrollbar-track-piece
  border-radius: 10px;
  background: #F9F9F9
.pr-50
  padding-right 50px
.section-balance-filter--date__wrap .section-input-wrap
  &:after
    content '-'
    absolute-center()
    left auto
    right -6px
    color #fff
  &:last-child
    &:after
      display none

.p-12-0
  padding: 12px 0
.section-top-title--desc
  font-family: 'Montserrat 500',sans-serif
  font-size: 12px
  color rgba(39,39,39,0.6)
.checkbox-popup-filter_mb
  margin-bottom: 0
  justify-content: center
.balance-filter--date__wrap--row
  margin: 0 -15px
.color-blue
  color: #2F80ED !important
.section-content-main__titles
  font-family: 'Oswald 500',sans-serif
  font-size: 22px
  color: #272727
  margin-bottom: 15px
.section-table-style--item
  background-color: #F9F9F9
  padding: 15px
  margin-bottom: 5px
  font-family: 'Open Sans 400',sans-serif
  font-size: 13px
  color: #7B7B7B
  span
    color: #272727
    margin-left: 3px
  a
    text-decoration: none
    margin-left: 5px
    margin-right: 3px
.input-wrap--icon
  display flex
  position relative
  align-items: center
.input-main--icon
  position: absolute
  right 10px
  display flex
  justify-content: center
  align-items: center
  .icon
    size(20px)
.promocode-input-show
  display: flex
  justify-content: space-between
  align-items: center
  background-color: #EEF2F8
  border-radius: 5px
  padding: 15px
  width: 260px
.promocode-title
  font-family: 'Open Sans 400',sans-serif
  font-size: 14px
  color: #272727
  margin-bottom: 10px
.promocode-status
  font-family: 'Open Sans 600',sans-serif
  font-size: 12px
  color: #2F80ED
.promocode-close
  cursor: pointer
  .icon
    size(14px)
    fill: #F43930
.section-flex-direction
  display flex
  flex-direction: column
  width 100%
  .section-block--title
    padding-left: 15px
  .promocode-input-show
    margin-left: 15px
.coupon-generation--wrap
  position relative
  display flex
  align-items: center
.coupon-generation
  position: absolute
  display flex
  align-items: center
  justify-content: center
  right 5px
  background-color: #2F80ED
  border-radius: 5px;
  transition: all linear .2s
  font-family: 'Oswald 400',sans-serif
  font-size: 12px
  color: #fff
  padding: 15px 20px
  height 32px
  cursor pointer
  &:hover
    box-shadow: 0px 0px 15px rgba(47, 128, 237, 0.4);
.section-select--popup__icon .icon
  transform: rotate(180deg)
.sfia2
  width max-content
  height 42px
  .icon
    size(18px)
.section-role--table__list
  width max-content
  max-width 300px
.section-role--table__item--close
  cursor pointer
.sfia-100
  width 100% !important
  justify-content: center
.nav-sidebar-menu--item--depth2--wrap
  display flex
  .icon
    margin-right: 10px
    size(19px)
.jc-depth
  justify-content: end
.editor-item
  margin: 0
  padding: 15px 30px
  border-bottom: 1px solid rgba(39,39,39,0.1)
  &:first-child
    border-top: 1px solid rgba(39,39,39,0.1)


  .textarea-text-option
    height 235px
  .section-input-wrap
    margin-bottom: 15px
  .section-tiny-wrap
    padding: 0
    .section-input-wrap
      padding-left: 0

.editor-item label
    font-size: 13px
.color-picker-spectrum
  display flex
  align-items: center
  justify-content: space-between
  background-color: #F9F9F9
  border-radius: 10px
  height 42px
  padding: 8px
.color-picker-spectrum__wrap
  display flex
  align-items: center
.color-picker--icon
  cursor pointer
  .icon
    size(20px)
    opacity 0.5
.color-picker-spectrum__input
  width 100%
  background-color: transparent
  border none
  padding-left: 10px
  font-family: 'Open Sans 600',sans-serif
  color: #272727
  font-size: 13px
.color-picker--choise
  size(28px)
  border-radius: 6px
  min-width 28px
  cursor pointer


// Editor content
.section-content-editor
  .fs-26
    font-size: 26px
  .mb-45
    margin-bottom: 45px
  .mb-40
    margin-bottom: 40px
  .mb-15
    margin-bottom: 15px
  .mb-30
    margin-bottom: 30px
  .mr-35
    margin-right: 35px;
  .mb-20
    margin-bottom: 20px
  .mb-70
    margin-bottom: 70px
  .mb-60
    margin-bottom: 60px
  .fs-30
    font-size: 30px
  .mb-45
    margin-bottom: 45px
  .fs-38
    font-size: 38px



.breadcrumbs-wrap
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f9f9f9;
    height: 46px;
    margin-bottom: 40px;
    overflow-x: auto;
.breadcrumb-list
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
.breadcrumb-item
    display: flex;
    color: rgba(39,39,39,0.3);
    font-family: 'Montserrat 400', sans-serif;
    font-size: 13px;
    position: relative;
    white-space: nowrap;
.breadcrumb-item+.breadcrumb-item::before
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
.breadcrumb-item:before
    content: '/';
    position: relative;
    color: rgba(39,39,39,0.3);
.breadcrumb-item:first-child:before
  display none
.section-editor-content
  .section-top-side
    padding: 0
.p-0-30
  padding: 0 30px
.section-editor-main__flex
  display flex
.section-title--editor
  font-family: 'Cormorant 700', sans-serif;
  font-size: 34px;
  color: #272727;
  position: relative;
  margin-bottom: 50px;
  &:before
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 10px;
    background-image: url(./static/img/general/figure.png);
    background-repeat: no-repeat;
    background-size: contain;

.section-desc-p
  font-family: 'Montserrat 400', sans-serif;
  font-size: 14px;
  color: rgba(39,39,39,0.7);
.section-sub-desc
    font-size: 15px;
    font-family: 'Montserrat 500', sans-serif;
    color: #272727;

.section-buttons-block
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 60px;

.mw-270px
  width: 270px !important
.section-button-blue--v1
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2f80ed;
  border-radius: 10px;
  width: 100%;
  font-family: 'Cormorant 700', sans-serif;
  font-size: 18px;
  color: #fff;
  height: 50px;
  cursor: pointer;
  position: relative;
  padding: 7px;
  .icon
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    right: -40px;
    left: auto;
    width: 40px;
    height: 20px;
    fill: transparent;
    stroke: #fff;
    stroke-width: 2px;
.section-button-number
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 28px;
    color: #fff;
    background-color: rgba(255,255,255,0.3);
    border-radius: 6px;
    width: 36px;
    height: 36px;
    padding-bottom: 5px;
    margin-right: 15px;

.section-button-blue--v1 .icon-arrow-button #i-2, .section-button-blue--v1 .icon-arrow-button #i-3
      stroke: #2f80ed;
.editor-block.active
  outline 4px solid #2F80ED !important
.editor-text.active
  outline 4px solid #2F80ED !important
  //padding: 3px
.editor-img.active
  outline 4px solid #2F80ED !important
  //padding: 3px
  cursor move
.editor-text,.editor-img,.editor-block
  transition: .3s ease
.editor-text:hover,.editor-img:hover,.editor-block:hover
  outline 4px solid rgba(39,39,39, 0.2)
.section-content-editor
  .section-title
    font-family: 'Cormorant 700', sans-serif;
    font-size: 34px;
    color: #272727;
    position: relative;
    margin-bottom: 60px;
    &:before
      content: '';
      position: absolute;
      left: 0;
      bottom: -15px;
      width: 100%;
      height: 10px;
      background-image: url(./static/img/general/figure.png);
      background-repeat: no-repeat;
      background-size: contain;


.section-read-article--wrap
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 10px;
.section-read-article--left
  display: flex;
  align-items: stretch;
.section-read-article--left__icon
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    background-color: #eef2f8;
    border-radius: 10px;
    margin-right: 20px;
    .icon
      size(22px)
      fill: #2f80ed;
.section-read-article--left span
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Montserrat 500', sans-serif;
  font-size: 14px;
  color: #2f80ed;
  padding: 10px 0;
.section-read-article--right a
    font-family: 'Montserrat 400', sans-serif;
    font-size: 13px;
    color: rgba(39,39,39,0.7);
    margin-right: 10px;
    text-decoration: underline;

.section-romb-list li
    font-family: 'Montserrat 400', sans-serif;
    font-size: 13px;
    color: rgba(39,39,39,0.7);
    margin-bottom: 15px;
    padding-left: 15px;
    position: relative;
.section-romb-list li:before
    content: '■';
    position: absolute;
    left: 0;
    top: -5px;
    font-size: 18px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    color: #2f80ed;
.section-desc-p-cursive
    font-family: 'Montserrat 400', sans-serif;
    font-size: 13px;
    color: rgba(39,39,39,0.7);
    font-style: italic

.section-content-block--item
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 40px 30px;
.section-content-block--item__left
  width 55%
  .form-title
    font-family: 'Cormorant 700', sans-serif;
    margin-bottom: 40px;
    font-size: 28px;
    color: #272727;
    text-align: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  .form-title span
    position: relative;
    display: block;
    margin-top: 10px;
    width: 68px;
    height: 10px;
    background-image: url(./static/img/general/figure.png);
    background-size: contain;
    background-repeat: no-repeat;
.section-content-block__desc
    text-align: center;
    font-family: 'Montserrat 400', sans-serif;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    a
      color: #2f80ed;
.section-content-block__address
    text-align: center;
    font-family: 'Montserrat 500', sans-serif;
    font-size: 13px;
    color: #272727;
    margin-bottom: 20px;
.section-content-block__phone
  text-align: center
  .icon
    size(20px)
    fill: #2f80ed;
    margin-right: 10px;
.section-content-block__phone a
    font-family: 'Montserrat 600', sans-serif;
    font-size: 16px;
    color: #272727;
.section-content-block--item__right
    position: relative;
    width: 45%;
.section-content-block--img
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: -40px;
.editor-text blockquote
  border-left: 4px solid #2f80ed;
  padding-left: 15px;
  margin-bottom: 0;
.editor-text ol
  counter-reset: item;
  padding: 0
.editor-text ol > li:before
  content: counter(item) ") ";
  counter-increment: item;
  color #2F80ED
.editor-text ul li:before
  content: "\25CF";
  display: inline-block;
  width: 1em;
  color: inherit
.section-block-attention-border
  position: relative;
  p
    font-family: 'Montserrat 400', sans-serif;
    font-size: 14px;
    color: #272727;
    padding: 50px 30px 30px 30px;
    border: 1.5px solid rgba(39,39,39,0.05);
  .section-block-attention-border__icon
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #eef2f8;
    border-radius: 8px;
    top: -30px;
    left: 30px;
    .icon
      width: 25px;
      height: 25px;
      fill: #2f80ed;
.price-list-header
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2f80ed;
  border-radius: 10px 10px 0px 0px;
  height: 60px;
  padding: 18px 25px;
  width: 100%;
  margin-bottom: 15px;
.price-list--item
  font-family: 'Cormorant 700', sans-serif;
  font-size: 20px;
  color: #fff;
  p
    display none
.w_45
  width 45%
.w_40
  width 40%
.w_20
  width: 20%;
.price-list-body
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 15px;
.price-list-body__top
  display: flex;
  align-items: center;
.price-list-body--item
  padding-right: 20px;
  font-family: 'Montserrat 400', sans-serif;
  font-size: 15px;
  color: rgba(39,39,39,0.7);
.price-list-body--item:last-child
  padding-right: 0;
.price-body-top-d-flex
  display: flex;
  align-items: center;
  justify-content: space-between;
.price-list-body__toggle
  display: none;
  border-top: 1px solid rgba(39,39,39,0.1);
  margin-top: 20px;
  padding-top: 20px;
.price-list-body__toggle ul li
  position: relative;
  list-style-type: none;
  counter-increment: list;
  font-family: 'Montserrat 400', sans-serif;
  font-size: 14px;
  color: rgba(39,39,39,0.7);
  margin-bottom: 10px;
  padding-left: 20px;
.price-list-body__toggle ul li:before
  content: counter(list) ".";
  position: absolute;
  font-family: 'Montserrat 500', sans-serif;
  font-size: 14px;
  left: 0;
  color: #2f80ed;
.price-body-top
  color: #2f80ed;
  font-family: 'Montserrat 500', sans-serif;
.price-body-top__arrow
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  width: 36px;
  height: 36px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.1);
  border-radius: 8px;
  .icon
    size(16px)
    stroke rgba(39,39,39,0.4);
    fill: rgba(39,39,39,0.4);
.price-body-top__arrow.active .icon
   transform: rotate(180deg)
   stroke #2f80ed
.blue-color
  color: #2f80ed;

.section-demical--list li
  position: relative;
  list-style-type: none;
  counter-increment: list;
  font-family: 'Montserrat 400', sans-serif;
  font-size: 15px;
  color: rgba(39,39,39,0.7);
  margin-bottom: 15px;
  padding-left: 20px;
  &:before
    content: counter(list) ".";
    position: absolute;
    font-family: 'Montserrat 500', sans-serif;
    font-size: 14px;
    left: 0;
    color: #2f80ed;
.section-sub-desc-bold
    font-family: 'Montserrat SB', sans-serif;
    font-size: 15px;
    color: #272727;
.section-desc-p
    font-family: 'Montserrat 400', sans-serif;
    font-size: 14px;
    color: rgba(39,39,39,0.7);
.section-have-question--wrap
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    margin-bottom: 100px;
.section-have-question__left
    padding: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    border-radius: 10px 0 0 10px;
    .section-title--white
      color #fff !important
.section-have-question--text
  font-family: 'Montserrat 400', sans-serif;
  font-size: 13px;
  color: rgba(255,255,255,0.6);
  margin-bottom: 15px;
.section-have-question--address
    font-family: 'Montserrat 500', sans-serif;
    font-size: 13px;
    color: #fff;
    margin-bottom: 40px;

.section-have-question--contacts
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .icon
      width: 21px;
      height: 21px;
      fill: #2f80ed;
      margin-right: 23px
    a
      font-family: 'Montserrat SB', sans-serif;
      font-size: 16px;
      color: #fff;
.section-have-question__right
  width: 55%;
  padding: 30px;
  border-radius: 0px 10px 10px 0;
  -webkit-box-shadow: 0px 4px 30px -7px rgba(0,0,0,0.13);
  box-shadow: 0px 4px 30px -7px rgba(0,0,0,0.13);
  .form-title
    font-family: 'Cormorant 700', sans-serif;
    margin-bottom: 40px;
    font-size: 28px;
    color: #272727;
    text-align: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    span
      position: relative;
      display: block;
      margin-top: 10px;
      width: 68px;
      height: 10px;
      background-image: url(./static/img/general/figure.png);
      background-size: contain;
      background-repeat: no-repeat;
.input-ur-forms
    background-color: transparent;
    border-radius: 5px;
    border: 1.5px solid rgba(39,39,39,0.05);
    height: 47px;
    padding: 15px;
    font-family: 'Montserrat 400', sans-serif;
    font-size: 13px;
    color: rgba(39,39,39,0.7);
    outline: none;
.main-button-color
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 54px;
    background-color: #2f80ed;
    border: 2px solid #2f80ed;
    font-family: 'Montserrat 500', sans-serif;
    font-size: 14px;
    color: #fff;
    margin-right: 45px;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    outline: none
    .icon
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      right: -40px;
      left: auto;
      width: 40px;
      height: 20px;
      fill: transparent;
      stroke: #fff;
      stroke-width: 2px;
.mw-200
  width: 200px;
.m-0-auto
    margin: 0 auto;
.main-button-color .icon-arrow-button #i-2, .main-button-color .icon-arrow-button #i-3
   stroke: #2f80ed;
.section-why-people-c
  align-items: flex-start;
.section-why-people-c__item
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px;
.section-why-people-c__icon--wrap
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border: 1px solid #f9f9f9;
    border-radius: 10px;
    margin-bottom: 30px;
.section-why-people-c__icon
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 10px;
.section-why-people-c__icon--wrap:after
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: auto;
    bottom: -30px;
    background-image: url(./static/img/general/figure.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 54px;
    height: 10px;
    bottom: -25px;
    margin: 0 auto;
.section-why-people-c-name
    font-family: 'Cormorant 700', sans-serif;
    font-size: 20px;
    color: #272727;
    text-align: center;
.scbi-2
  flex-flow: row-reverse;
.scbi-2 .section-content-block--item__left
   width: 50%;
.section-content-block__phone a
    font-family: 'Montserrat SB', sans-serif;
    font-size: 16px;
    color: #272727;
.section-price-link
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Cormorant 700', sans-serif;
    font-size: 20px;
    color: #2f80ed;

.section-title--wrap
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 130px;

.review-tabs-buttons
  display: flex;
  align-items: center;
.section-reviews-content  .review-tab-button-text.active,.section-reviews-content .review-tab-button-video.active
  background-color: #2f80ed;
  color: #fff;
.section-reviews-content .review-tab-button-text,.section-reviews-content .review-tab-button-video
    color: #272727;
    background-color: #f9f9f9;
.tabs-buttons.active
   border: 1.5px solid #2f80ed
.review-tab-button-text
   margin-right: 30px;
.review-tab-button-text, .review-tab-button-video
  width: 170px;
  font-family: 'Cormorant 700', sans-serif;
  font-size: 15px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  border: 1.5px solid #f9f9f9;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  cursor: pointer;

.section-reviews-content
    padding: 0 15px
.section-editor-content
  .section-title
    font-family: 'Cormorant 700', sans-serif;
    font-size: 34px;
    color: #272727;
    position: relative;
    margin-bottom: 60px;
    &:after
      content: '';
      position: absolute;
      left: 0;
      bottom: -15px;
      width: 100%;
      height: 10px;
      background-image: url(./static/img/general/figure.png);
      background-repeat: no-repeat;
      background-size: contain;

.reveiw-tabs-list
  margin-bottom: 50px
  .tabs-content
    display: none
  .tabs-content.active
    display: flex;
.reveiw-tab-text--wrap
  display: flex;
  justify-content: space-between;
.section-reviews-content .reveiw-tab-text--item
    border: 1px solid rgba(39,39,39,0.1);
    border-left: none;
.reveiw-tab-text--item
  width: 48%;
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(7px);
  display: flex;
  align-items: flex-end;
.section-reviews-content .review-tab-text__img
  border: 1px solid rgba(39,39,39,0.1);
.review-tab-text__img
  background-size: contain;
  background-repeat: no-repeat;
  width: 267px;
  height: calc(100% + 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-position: bottom;
.reveiw-tab-text__content
  padding: 23px;
  width: 100%;
  height: 100%;
  position: relative;
.reveiw-tab-text__content .icon
  position: absolute;
  right: 20px;
  top: -25px;
  width: 50px;
  height: 50px;
  fill: #2f80ed;
.section-reviews-content
  .reveiw-tab-text__title
    color: #272727;
    font-family: 'Cormorant 700', sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
  .reveiw-tab-text__desc
    font-family: 'Montserrat 400', sans-serif;
    font-size: 13px;
    color: #272727;
.blog-title-buttons
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
.blog-button-item
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #f9f9f9;
    height: 45px;
    width: 170px;
    margin-right: 30px;
    font-family: 'Cormorant 700', sans-serif;
    font-size: 15px;
    color: #272727;
.blog-article--item--wrap
  margin-bottom: 30px
.blog-article--item
  border: 1.5px solid rgba(39,39,39,0.05);
.blog-article-date
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
.blog-article-date .icon
    width: 20px;
    height: 20px;
    fill: #2f80ed;
    margin-right: 15px;
.blog-article-date span
    font-family: 'Cormorant 700', sans-serif;
    font-size: 18px;
    color: rgba(39,39,39,0.6);
.blog-article-img
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 260px;
.blog-article-content
  padding: 20px;
.blog-article-title
    font-family: 'Cormorant 700', sans-serif;
    font-size: 23px;
    color: #272727;
    margin-bottom: 15px;
.blog-article-desc
    font-family: 'Montserrat 400', sans-serif;
    font-size: 13px;
    color: rgba(39,39,39,0.7);
    margin-bottom: 25px;
.blog-article-link
    font-family: 'Cormorant 700', sans-serif;
    font-size: 17px;
    color: #2f80ed;
.faq-main-block
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
.faq-left
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width 40%
.faq-left svg
    width: 380px;
    height: 380px;
    margin-bottom: 50px;
.faq-right
  width 56%
.faq-question-item--wrap
  margin-bottom: 30px
.faq-question-item
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 1.5px solid rgba(39,39,39,0.05);
    padding: 15px;
    height: 70px;
    width: 100%;
.faq-question-item--text
    display: none;
    padding: 20px;
    font-family: 'Montserrat 400', sans-serif;
    font-size: 13px;
    color: #272727;
.faq-question-num-title
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Cormorant 700', sans-serif;
    font-size: 20px;
    color: #272727;
.faq-question-show
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 41px;
    height: 41px;
    background-color: #eef2f8;
    cursor: pointer;
    .icon
      size(28px)
      transform: rotate(180deg);
      stroke: #272727;
.faq-question-item.active .icon
  transform: rotate(360deg);
.faq-question-number
    margin-right: 12px;
    font-family: 'Cormorant 700', sans-serif;
    font-size: 26px;
    color: #2f80ed;
.faq-question-title
    font-family: 'Cormorant 700', sans-serif;
    font-size: 20px;
    color: #272727;
.faq-left p
    font-family: 'Montserrat 400', sans-serif;
    font-size: 13px;
    color: rgba(39,39,39,0.7);
    text-align: center;
.section-sidebar-editor
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    display: inline-table;
    margin-bottom: 50px;

.side-toggle-exam--list
  margin-bottom: 30px;
.side-toggle-exam--wrap
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #eff3f8;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    cursor: pointer;
.side-toggle-exam--title
    font-family: 'Cormorant 700', sans-serif;
    font-size: 20px;
    color: #272727;
.side-toggle-exam--wrap.active
  .side-toggle-exam--arrow .icon
    transform: rotate(180deg);
.side-toggle-exam--arrow .icon
    width: 12px;
    height: 12px;
    stroke: #272727;
    //transform: rotate(180deg);
.side-toggle-list--attr
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 20px 15px;
    margin-top: -6px;
    border-radius: 0 0 10px 10px;
.side-toggle-item--attr
    font-family: 'Montserrat 400', sans-serif;
    font-size: 14px;
    color: rgba(39,39,39,0.7);
    margin-bottom: 20px;
.side-button-exam
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #2f80ed;
    border-radius: 10px;
    width: 100%;
    font-family: 'Cormorant 700', sans-serif;
    font-size: 20px;
    color: #fff;
    height: 54px;
    cursor: pointer;
    position: relative;
    .button-attention
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: absolute;
      right: 12px;
      top: -10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 0 3px #fff;
      box-shadow: 0 0 0 3px #fff;
      font-family: 'Montserrat 600', sans-serif;
      font-size: 13px;
      color: #fff;
      background-color: #2f80ed;
.side-button-exam.mb-20
  margin-bottom: 20px
.side-button-exam .icon
    width: 26px;
    height: 26px;
    fill: #fff;
    margin-right: 15px;
.sidebar-editor--attributes__text,.sidebar-editor--attributes__img,.sidebar-editor--attributes__blocks
  position: fixed
  overflow-y: auto
  background-color: #fff
  left 0
  right 0
  top: 130px
  bottom: 0
  transform: translateX(-100vw)
  // width: 20%
  padding: 0
  transition: .4s ease
.sidebar-editor--attributes__text::-webkit-scrollbar,.sidebar-editor--attributes__img::-webkit-scrollbar,.sidebar-editor--attributes__blocks::-webkit-scrollbar
  width: 0
.sidebar-editor--attributes__text.active,.sidebar-editor--attributes__img.active,.sidebar-editor--attributes__blocks.active
  transform: translateX(0vw)
.editor-close-button
  .editor-close
    display: none
.editor-close-button.active
  .editor-open
    display none
  .editor-close
    display: flex
.editor-save-settings
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f80ed;
    border-radius: 10px;
    font-family: 'Cormorant 700', sans-serif;
    font-size: 20px;
    color: #fff;
    height: 54px;
    cursor: pointer;
    position: relative;
    margin: 0 30px
    margin-bottom: 30px
.editor-img--wrapper
  position: relative
  display flex
  align-items: flex-end
  justify-content: center
  width: 100%
  height 235px
  background-color: #F9F9F9
  border-radius: 10px
  border 2px dashed #E4E4E4
  margin-bottom: 20px
.editor-img--input
  position: absolute
  size(100%)
  left 0
  top: 0
  right 0
  bottom: 0
  line-height: 0
  opacity 0
  cursor pointer
.editor-img--info__icon
  display flex
  justify-content: center
  align-items: center
  size(64px)
  border-radius: 8px
  background-color: #EEF2F8
  margin-bottom: 15px
  .icon
    size(24px)
.editor-img--info
  display flex
  flex-direction: column
  justify-content: center
  align-items: center
.editor-img--info__text
  display flex
  flex-direction: column
  padding: 0 35px
  text-align: center
  font-family: 'Open Sans 400',sans-serif
  font-size: 13px
  color: #272727
  margin-bottom: 40px
.editor-img--info__format
  margin-bottom: 15px
  font-family: 'Open Sans 400',sans-serif
  font-size: 13px
  color: rgba(39,39,39,0.6)
.editor-img--info__wrap
  display flex
  flex-direction: column
  align-items: center

.editor-img--zone
  background-size: cover
  background-repeat: no-repeat
  width 100%
  height 100%
  position: absolute
  border-radius: 10px
.editor-info--img__pic
  background-size: cover
  background-repeat: no-repeat
  size(28px)
  border-radius: 6px
.editor-item--img__delete
  color #F43930
  background-color: rgba(244, 57, 48, 0.1);
  font-family: 'Open Sans 600',sans-serif
  justify-content: center
  transition: all linear .2s
  &:hover
    background-color: rgba(244, 57, 48, 0.3);
.editor-img--size__input
  input
    width: 100%
    border none
    background-color: transparent
    font-family: 'Open Sans 400',sans-serif
    color: rgba(39,39,39,0.6);
    font-size: 12px
    text-align: center

.editor-size--icon
  display flex
  justify-content: center
  align-items: center
  font-family: 'Open Sans 600',sans-serif
  color #2F80ED
  size(28px)
  min-width: 28px
  border 1px solid rgba(47, 128, 237, 0.5);
  border-radius: 6px
.pr-7_5
  padding-right: 7.5px
.pl-7_5
  padding-left: 7.5px
.color-picker-spectrum2,.color-picker-spectrum3
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f9f9f9;
  border-radius: 10px;
  height: 42px;
  padding: 8px;
.editor-img--border__radius1,.editor-img--border__radius2,.editor-img--border__radius3,.editor-img--border__radius4,.editor-block--border__radius1,.editor-block--border__radius2,.editor-block--border__radius3,.editor-block--border__radius4
  size(44px)
  text-align: center
.editor-icon-cep
    display: flex;
    justify-content: center;
    align-items: center;
  .icon
    size(18px)
.editor-item--flex
  display flex
  justify-content: space-between
.sp-container
  width 247px
  border-radius: 10px
  background-color: #fff
  border none
  box-shadow: 0 0 10px 2px #27272738
.sp-picker-container
  width initial
.sp-button-container
  display flex
  width 100%
  justify-content: space-between
  align-items: center
.sp-cf:before, .sp-cf:after
  display none
.sp-input-container
  margin-bottom: 15px
  .input
    font-family: 'Montserrat 400',sans-serif
.sp-cancel
  font-family: 'Montserrat 400',sans-serif
  color: #2f80ed !important
.sp-choose
  background-color: #2f80ed !important
  border none
  font-family: 'Montserrat 400',sans-serif
  font-size: 13px
  background-image: none !important
  border none
  outline none !important
  color #fff !important
  text-shadow: none !important
  &:focus
    outline: none

.section-editor-content
  display none
.section-editor-content.active
  display block
.section-data-tabs
  display flex
  align-items center
.section-data-tab
  display flex
  align-items center
  justify-content center
  height 37px
  background-color #f9f9f9
  padding 15px 25px
  color #272727
  font-family 'Cormorant 700',sans-serif
  font-size 16px
  margin-right 10px
  border-radius 8px
  transition all linear .2s
  cursor pointer
  white-space nowrap
  &:last-child
    margin-right 0
.section-data-tab.active
  background-color #2F80ED
  color #fff
.editor-content-editable
  background-color #f9f9f9
  border-radius 5px
  color #272727
  font-family 'Open Sans 400',sans-serif
  font-size 12px
  height calc(100vh - 330px)
  padding 13px
  outline none
  overflow-y auto
  &::-webkit-scrollbar
    width 0
.editor-content-editable--wrap
  padding 30px



