section.section-1
	.filter-main.box-bg2
		include ../../modules/filters/filter-top
		.section-bottom-side.filter-balance-bottom.row.m-0.p-12-0
			.col-xl-6.col-lg-6.col-md-6.col-sm-12.section-input-wrap
				label Пункт:
				.section-select--input2.section-select--input__show
					span Любой
					.section-select--popup__icon
						+icon('arrow-down-white')
					ul.section-select--popup__list.section-select--popup__list__show
						li.section-select--popup__item2.hover-text-color Любой
						li.section-select--popup__item2.hover-text-color Любой2
						li.section-select--popup__item2.hover-text-color Любой3
			.col-xl-6.col-lg-6.col-md-6.col-sm-12.section-input-wrap
				label Id:
				input.input-main(type="text" placeholder="")