section.section-1
    .section-content--main__wrap.box-bg2.pb-0
        .section-content--main
            .section-top-side
                .section-block--title Редактировать (Обращение)
            form.section-support-form
                .section-bottom-side
                    .section-inputs--wrapper.row
                        .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                            label Статус:
                            .section-select--input2.section-select--input__show
                                span
                                .section-select--popup__icon
                                    +icon('arrow-down-white')
                                ul.section-select--popup__list.section-select--popup__list__show
                                    li.section-select--popup__item2.hover-text-color 1
                                    li.section-select--popup__item2.hover-text-color 2
                                    li.section-select--popup__item2.hover-text-color 3
                        .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                            label Уровень сложности:
                            .section-select--input2.section-select--input__show
                                span
                                .section-select--popup__icon
                                    +icon('arrow-down-white')
                                ul.section-select--popup__list.section-select--popup__list__show
                                    li.section-select--popup__item2.hover-text-color 1
                                    li.section-select--popup__item2.hover-text-color 2
                                    li.section-select--popup__item2.hover-text-color 3
                        .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                            label Ответственный:
                            .section-select--input2.section-select--input__show
                                span (Admin)
                                .section-select--popup__icon
                                    +icon('arrow-down-white')
                                ul.section-select--popup__list.section-select--popup__list__show
                                    li.section-select--popup__item2.hover-text-color 1
                                    li.section-select--popup__item2.hover-text-color 2
                                    li.section-select--popup__item2.hover-text-color 3
                        .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                            label Критичность обращения:
                            .section-select--input2.section-select--input__show
                                span
                                .section-select--popup__icon
                                    +icon('arrow-down-white')
                                ul.section-select--popup__list.section-select--popup__list__show
                                    li.section-select--popup__item2.hover-text-color 1
                                    li.section-select--popup__item2.hover-text-color 2
                                    li.section-select--popup__item2.hover-text-color 3
                        .col-xl-12.col-lg-12.col-md-12.col-sm-6.section-input-wrap
                            label Уровень поддержки:
                            .section-select--input2.section-select--input__show
                                span По умолчанию
                                .section-select--popup__icon
                                    +icon('arrow-down-white')
                                ul.section-select--popup__list.section-select--popup__list__show
                                    li.section-select--popup__item2.hover-text-color 1
                                    li.section-select--popup__item2.hover-text-color 2
                                    li.section-select--popup__item2.hover-text-color 3
                        .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                            .checkbox-input--tab__item
                                .checkbox-input
                                input.checkbox-input--tab(type="checkbox")
                                span Закрыть обращение
                .section-footer-side
                    .section-buttons--wrap
                        button.section-button--yellow.w-100px.mr-3(type="submit") Сохранить
                        .section-button--gray.w-100px Отменить
