section.section-1
    .filter-main.box-bg2
        include ../../modules/filters/filter-top
        .section-bottom-side.filter-bottom-side
            .section-label-select--wrap
                label Название:
                .section-select--input2.section-select--input__show
                    span.section-bg-text--content Название..
                    .section-yellow-bg--wrap
                    .section-select--popup__icon
                        +icon('arrow-down-white')
                    ul.section-select--popup__list
                        li.section-select--popup__item.hover-text-color user_management_access
                        li.section-select--popup__item.hover-text-color user_management_delete

