section.section-3
    .support-main--table.box-bg2
        table.support-table.sup-mob-tbody
            thead
                tr.section-thead-support
                    th.section-block--title.w-th-100.padding-th-title Ответственный
                    th.padding-status
                        .section-support-status.status-red
                    th.padding-status
                        .section-support-status.status-green
                    th.padding-status
                        .section-support-status.status-gray
                    th.padding-text.sup-mob-hidden Открыто
                    th.padding-text.sup-show-in-mobile Открыто #[span Всего]
                    th.padding-text.sup-mob-hidden Всего
            tbody
                tr.section-tbody-support
                    td.padding-td Всего:
                    td.text-center 1
                    td.text-center 1
                    td.text-center 1
                    td.text-center 1
                    td.text-center.sup-mob-hidden 1
                tr.section-tbody-support
                    td.padding-td (dev) Разработчик Приложения
                    td.text-center 1
                    td.text-center 1
                    td.text-center 1
                    td.text-center 1
                    td.text-center.sup-mob-hidden 1
                tr.section-tbody-support
                    td.padding-td Admin
                    td.text-center 1
                    td.text-center 1
                    td.text-center 1
                    td.text-center 1
                    td.text-center.sup-mob-hidden 1
