section.section-6
    .support-main--table.box-bg2
        table.support-table.sup-mob-tbody
            thead
                tr.section-thead-support
                    th.section-block--title.w-th-100.padding-th-title Уровень сложности
                    th.padding-status
                        .section-support-status.status-red
                    th.padding-status
                        .section-support-status.status-green
                    th.padding-status
                        .section-support-status.status-gray
                    th.padding-text.sup-mob-hidden Открыто
                    th.padding-text.sup-show-in-mobile Открыто #[span Всего]
                    th.padding-text.sup-mob-hidden Всего
            tbody
                tr.section-tbody-support
                    td.padding-td (нет)
                    td.text-center 1
                    td.text-center 1
                    td.text-center 1
                    td.text-center 1
                    td.text-center 1
                tr.section-tbody-support
                    td.padding-td Легкий
                    td.text-center 1
                    td.text-center 1
                    td.text-center 1
                    td.text-center 1
                    td.text-center 1
                tr.section-tbody-support
                    td.padding-td Средний
                    td.text-center 1
                    td.text-center 1
                    td.text-center 1
                    td.text-center 1
                    td.text-center 1
                tr.section-tbody-support
                    td.padding-td Высокий
                    td.text-center 1
                    td.text-center 1
                    td.text-center 1
                    td.text-center 1
                    td.text-center 1