section.section2.col-xl-12.col-lg-12.col-md-12.col-sm-6.p-30.mobile-padding-0
    .filter-main.box-bg2
        .section-top-side
            .section-block--title Прибыль за период
            .section-block--title Прибыль: 10 000 ₽
        .section-bottom-side
            // Таблицу или контент сюда