section.section-5
    .section-content--main__wrap.box-bg2.pb-0
        .section-content--main
            .section-top-side
                .section-block--title Google analytics
                .section-top-title--desc Email settings for app
            .section-bottom-side.row.p-12-0.m-0
                .col-xl-12.col-lg-12.col-md-12.col-sm-12.section-input-wrap
                    label Код:
                    textarea.textarea-input(cols="5" rows="5" placeholder="Код...")