section.section-1
    .section-content--main__wrap.box-bg2.pb-0
        .section-content--main
            .section-top-side
                .section-block--title General
                .section-top-title--desc All the general settings for application.
            .section-bottom-side.row.p-12-0.m-0
                .col-xl-12.col-lg-12.col-md-12.col-sm-12.section-input-wrap
                    label App Name:
                    input.input-main(type="text" placeholder="Mind-formula")
                