section.section-3
    .section-content--main__wrap.box-bg2.pb-0
        .section-content--main
            .section-top-side
                .section-block--title Email
                .section-top-title--desc Email settings for app
            .section-bottom-side.row.p-12-0.m-0
                .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-input-wrap
                    label From Email:
                    input.input-main(type="text" placeholder="mind-formula@support.com")
                .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-input-wrap
                    label From Name:
                    input.input-main(type="text" placeholder="Mind-formula")
                .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-input-wrap
                    label Email Subject:
                    input.input-main(type="text" placeholder="Test")        