section.section-1
    .filter-main.box-bg2
        .section-top-side
            .section-block--title Payment
            .section-top-title--desc Payment settings
        .section-bottom-side.filter-balance-bottom.row.m-0.p-12-0
            .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                label PAYPAL_MODE:
                .section-select--input2.section-select--input__show
                    span live
                    .section-select--popup__icon
                        +icon('arrow-down-white')
                    ul.section-select--popup__list.section-select--popup__list__show
                        li.section-select--popup__item2.hover-text-color Все
                        li.section-select--popup__item2.hover-text-color Любой2
                        li.section-select--popup__item2.hover-text-color Любой3
            .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-input-wrap
                label Paypal Enable:
                .section-select--input2.section-select--input__show
                    span on
                    .section-select--popup__icon
                        +icon('arrow-down-white')
                    ul.section-select--popup__list.section-select--popup__list__show
                        li.section-select--popup__item2.hover-text-color Все
                        li.section-select--popup__item2.hover-text-color Любой2
                        li.section-select--popup__item2.hover-text-color Любой3
            .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-input-wrap
                label Gold Enable:
                .section-select--input2.section-select--input__show
                    span on
                    .section-select--popup__icon
                        +icon('arrow-down-white')
                    ul.section-select--popup__list.section-select--popup__list__show
                        li.section-select--popup__item2.hover-text-color Все
                        li.section-select--popup__item2.hover-text-color Любой2
                        li.section-select--popup__item2.hover-text-color Любой3
            .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-input-wrap
                label From Name:
                .section-select--input2.section-select--input__show
                    span Mind-Formula
                    .section-select--popup__icon
                        +icon('arrow-down-white')
                    ul.section-select--popup__list.section-select--popup__list__show
                        li.section-select--popup__item2.hover-text-color Все
                        li.section-select--popup__item2.hover-text-color Любой2
                        li.section-select--popup__item2.hover-text-color Любой3
            .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-input-wrap
                label Email Subject:
                .section-select--input2.section-select--input__show
                    span Test
                    .section-select--popup__icon
                        +icon('arrow-down-white')
                    ul.section-select--popup__list.section-select--popup__list__show
                        li.section-select--popup__item2.hover-text-color Все
                        li.section-select--popup__item2.hover-text-color Любой2
                        li.section-select--popup__item2.hover-text-color Любой3            