section.section-1
    .filter-main.box-bg2
        include ../../modules/filters/filter-top
        .section-bottom-side.filter-balance-bottom.row.m-0
            .col-xl-12.col-lg-12.col-md-12.col-sm-6.section-input-wrap.p-0
                label Заголовок:
                .section-select--input2.section-select--input__show
                    span Заголовок...
                    .section-select--popup__icon
                        +icon('arrow-down-white')
                    ul.section-select--popup__list.section-select--popup__list__show
                        li.section-select--popup__item2.hover-text-color 1
                        li.section-select--popup__item2.hover-text-color 2
                        li.section-select--popup__item2.hover-text-color 3