section.section2.col-xl-7.col-lg-7.col-md-7.col-sm-6
    .filter-main.box-bg2
        .section-top-side
            .section-block--title Посещаемость

        .section-bottom-side
            // Таблицу или контент сюда