section.section2.col-xl-6.col-lg-6.col-md-6.col-sm-6
    .filter-main.box-bg2
        .section-top-side
            .section-block--title Источник трафика

        .section-bottom-side
            // Таблицу или контент сюда