section.section2.col-xl-12.col-lg-12.col-md-12.col-sm-6
    .filter-main.box-bg2
        .section-top-side
            .section-block--title Нагрузка на техподдержку

        .section-bottom-side
            // Таблицу или контент сюда