.section-top-side
    .section-block--title Фильтр
    .filter-side--right
        .filter-settings.gogocar-arrow-button
            +icon('settings')
        .filter-show-and-hide.gogocar-arrow-button
            +icon('arrow-down-white')