section.section-2.section-content-main--table
    .section-content--main__wrap.box-bg2
        .section-content--main
            .section-top-side
                .section-block-title-question
                    .section-block--title Справочник техподдержки (Категории)
                .filter-side--right
                    .section-top-added.gogocar-arrow-button
                        +icon('plus')
            .section-bottom-side--scroll
                table.section-table
                    thead
                        tr
                            th
                                .section-thead-checkbox__input#check-all
                                    input.section-thead-checkbox(type="checkbox")
                            th.section-thead--icon
                                +icon('settings')
                            th ID
                            th Сорт.
                            th Заголовок
                    tbody.section-data-container
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить

                            td 1
                            td 100
                            td Ошибки

                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            td 2
                            td 200
                            td Оплата заказа
                        tr.section-data-container--item
                            td
                                .section-body-checkbox__input
                                    input.section-body-checkbox(type="checkbox")
                            td.section-tbody--icon.section-tbody--show__popup
                                +icon('burger')
                                .section-tbody--modal--table
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить

                            td 3
                            td 300
                            td Доставка заказа
            .section-bottom-pagination--wrap
                .section-bottom--delete.gogocar-arrow-button
                    +icon('delete')
                .section-bottom-pagination
// .section-content-main--table
section.section3.section-content-main-mobile--table
    .section-content--main-mobile__wrap
        .section-content--main.box-bg2.pb-20px
            .section-top-side.box-bg-mobile2
                .section-block--title Справочник (Категории)
                .filter-side--right
                    .section-top-added.gogocar-arrow-button
                        +icon('plus')
            .section-bottom-side--mobile__list
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name Ошибки
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left ID:
                            .section-mobile-table--item__right 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Сортировка:
                            .section-mobile-table--item__right 100
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Заголовок:
                            .section-mobile-table--item__right Ошибки




                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name Оплата заказа
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left ID:
                            .section-mobile-table--item__right 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Сортировка:
                            .section-mobile-table--item__right 100
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Заголовок:
                            .section-mobile-table--item__right Ошибки
                // Элемент мобильной таблицы
                .section-bottom-side--mobile__item--wrap.section-data-container--item
                    .section-bottom-side--mobile__item
                        .section-bottom-side--mobile__item--name Доставка заказа
                        .section-bottom-side--mobile__item--attr
                            .section-tbody--show__popup.section-top-added.gogocar-arrow-button
                                +icon('dots')
                                .section-tbody--modal--table__mobile
                                    .section-tbody--modal--item
                                        +icon('paper')
                                        span Просмотр
                                    .section-tbody--modal--item
                                        +icon('pen')
                                        span Изменить
                                    .section-tbody--modal--item
                                        +icon('delete-red')
                                        span Удалить
                            .section-arrow-mobile-table.section-top-added.gogocar-arrow-button
                                +icon('arrow-down-mobile')
                    ul.section-bottom-side--mobile__item--content
                        li.section-mobile-table--item
                            .section-mobile-table--item__left ID:
                            .section-mobile-table--item__right 1
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Сортировка:
                            .section-mobile-table--item__right 100
                        li.section-mobile-table--item
                            .section-mobile-table--item__left Заголовок:
                            .section-mobile-table--item__right Ошибки


            .section-bottom-pagination--wrap
                //.section-bottom--delete.gogocar-arrow-button
                //    +icon('delete')
                .section-bottom-pagination