section.section-1
    .section-content--main__wrap.box-bg2.pb-0
        .section-content--main
            .section-top-side
                .section-block--title Редактировать (Категории)
            form.section-support-form
                .section-bottom-side
                    .section-inputs--wrapper.row
                        .col-xl-12.col-lg-12.col-md-12.col-sm-6.section-input-wrap
                            label Категория:
                            .section-select--input2.section-select--input__show
                                span
                                .section-select--popup__icon
                                    +icon('arrow-down-white')
                                ul.section-select--popup__list.section-select--popup__list__show
                                    li.section-select--popup__item2.hover-text-color 1
                                    li.section-select--popup__item2.hover-text-color 2
                                    li.section-select--popup__item2.hover-text-color 3
                        .col-xl-12.col-lg-12.col-md-12.col-sm-6.section-input-wrap
                            label Заголовок:
                            input.input-main(type="text" placeholder="Не работает форма обратной связи")
                        .col-xl-12.col-lg-12.col-md-12.col-sm-6.section-input-wrap
                            label Ответ:
                            .textarea-contenteditable.textarea-input.min-vh-113px(contenteditable) Vulputate venenatis pulvinar pharetra, ipsum accumsan. Egestas at vestibulum pellentesque dui vestibulum. Sit vitae in felis bibendum. Sit magnis morbi nisi, proin.
                                a(href="/") www.mind-formula/faq/answer№2

                .section-footer-side
                    .section-buttons--wrap
                        button.section-button--yellow.w-100px.mr-3(type="submit") Сохранить
                        .section-button--gray.w-100px Отменить