section.section-1
    .filter-main.box-bg2
        include ../../modules/filters/filter-top
        .section-bottom-side.filter-bottom-side
            .section-label-select--wrap
                label Пользователь:
                .section-select--input.section-select--input__show
                    span Пользователь...
                    .section-select--popup__icon
                        +icon('arrow-down-white')
                    ul.section-select--popup__list.section-select--popup__list__show
                        li.section-select--popup__item2.hover-text-color Александр Куликов
                        li.section-select--popup__item2.hover-text-color Александр Куликов2
                        li.section-select--popup__item2.hover-text-color Александр Куликов3
                        li.section-select--popup__item2.hover-text-color Александр Куликов4
                        li.section-select--popup__item2.hover-text-color Александр Куликов5