section.section-1
    .filter-main.box-bg2
        include ../../modules/filters/filter-top
        .section-bottom-side.filter-balance-bottom.row.m-0.p-12-0
            .col-xl-6.col-lg-6.col-md-6.col-sm-12.section-input-wrap
                label Название:
                .section-select--input2.section-select--input__show
                    span
                    .section-select--popup__icon
                        +icon('arrow-down-white')
                    ul.section-select--popup__list.section-select--popup__list__show
                        li.section-select--popup__item2.hover-text-color День
                        li.section-select--popup__item2.hover-text-color Месяц
                        li.section-select--popup__item2.hover-text-color Год
            .col-xl-6.col-lg-6.col-md-6.col-sm-12.section-input-wrap
                label ID:
                .section-select--input2.section-select--input__show
                    span
                    .section-select--popup__icon
                        +icon('arrow-down-white')
                    ul.section-select--popup__list.section-select--popup__list__show
                        li.section-select--popup__item2.hover-text-color.calendar-destroy День
                        li.section-select--popup__item2.hover-text-color.calendar-destroy Месяц
                        li.section-select--popup__item2.hover-text-color.calendar-destroy Год            
           
            