section.section-1
    .filter-main.box-bg2
        include ../../modules/filters/filter-top
        .section-bottom-side.filter-balance-bottom.row.m-0.p-12-0
            .col-xl-12.col-lg-12.col-md-12.col-sm-12.section-input-wrap
                label Название:
                .section-select--input2.section-select--input__show
                    span
                    .section-select--popup__icon
                        +icon('arrow-down-white')
                    ul.section-select--popup__list.section-select--popup__list__show
                        li.section-select--popup__item2.hover-text-color День
                        li.section-select--popup__item2.hover-text-color Месяц
                        li.section-select--popup__item2.hover-text-color Год
               
           
            